.chatIcon {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: block;
  z-index: 99999;



  /*
  @media screen and (max-width: $mobil) {
    display: none;
  }

  &__image {
    @include image("napis-nam.png", 78px, 78px);
  }

  &__button {
    position: relative;

    span {
      position: absolute;
      bottom: -6px;
      left: -2px;
      width: 34px;
      height: 34px;
      background-color: #204294;
      border-radius: 45px;
      background-image: url('../images/sipka-pravo.svg');
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: top 10px left 7px;
    }
  }

*/



/*
  .wrapper {
    background:#DDD;
    display:inline-block;
    padding: 10px;
    height: 20px;
    width:50px;
}

.ikon {
    display: inline-block;
    width: 20px;
    height:20px;
    background:red;
}

.contents, .contents .inner {
    display:inline-block;
}

.contents {
    white-space:nowrap;
    margin-right: -1em;
    padding-right: 3em;
}

.contents .inner {
    background:#c3c;
    width:0%;
    overflow:hidden;
    transition: width 0.5s ease-in-out;
}


.wrapper:hover .contents .inner {
    width:100%;
}

*/













}