.dalsi_sluzby {display: block; clear: both; padding: 6% 10% 6% 10%; overflow: hidden; 

  
  @media (max-width: $desktopBig) {  padding: 6% 6% 6% 6%; } 
  @media (max-width: $tablet) { padding: 6% 10% 80px 10%;  }


  h2 { text-align: center;  @include f(38, 1.5); font-weight: 400; margin: 20px 0 20px 0; display: block;
  //  @media (max-width: $tablet) {  @include f(40, 1.1); margin: 20px 0 40px 0;  }
    

    @media (max-width: $desktopBig) {  margin: 0px 0 20px 0; @include f(40, 1.5); } 
    @media (max-width:$tablet) {  @include font(25, 40); margin: 20px 0 20px 0; }

    span { 
 @media (max-width: $tablet) {display: block; clear: both; }}
  }



  &__buttonBOX {  width: 100%; display: block; clear: both; text-align: center;
    a {


    // background-color: $modra;
    background-color: #0f2576;
    border-radius: 45px;
    padding: 14px 82px 12px 36px;
    color: $bila;
    display: inline-block;
    position: relative;
 
    transition:all .5s ease-in-out;
    margin: 40px auto 7px auto;

    @include f(17, 2);

    @media  (max-width: 1300px) {    margin: 15px auto 17px auto; }
    @media  (max-width: $tablet-big) {    margin: 26px auto 17px auto; }
    @media  (max-width: $tablet) {   margin: 45px auto 0px auto; padding: 12px 72px 10px 26px;  @include f(15, 2);  }



    &:after { content: ""; 
      position: absolute;
      top:22px;
      right: 35px;
      @include image("sipka.svg", 16px, 16px);

      @media screen and (max-width: $tablet) {    right: 25px;    top:19px;  }
    }


    &:hover {
      background:#00208d;
    }
    
     }
    
  }








  



&__firstBOX {  width: 50%; display: block; float: left; padding: 0 5%;  box-sizing: border-box; position: relative;

  @media (max-width: 1300px) {  padding: 0 3%; } 



  p {@include f(18, 1.7);  text-align: center;
    @media (max-width: $desktopBig) {  @include f(17, 1.7);  } 
    @media (max-width: $laptop_big) { @include f(16, 1.7);  }
    @media (max-width: $tablet) {  @include f(15, 1.7);   }
  }


  p.subtext {@include f(18, 1.7); clear: both; font-weight: 600;  text-align: center; display: block; padding: 0 10%; margin:50px auto 0 auto;
    @media (max-width: $desktopBig) {  @include f(17, 1.7);  } 
    @media (max-width: $laptop_big) { @include f(16, 1.7);  }
    @media (max-width: $tablet) {  @include f(15, 1.7);   }
  }









  @media (max-width: $tablet) { width: 100%; margin-bottom: 20px;
    p {@include f(14, 1.7); }
  }

  ul { 
    list-style: none;
    padding: 0px 0 0 4%;
    text-align: left;    
    display: block; 


    @media (max-width: $desktopBig) {  padding: 20px 0 0 4%; } 
    @media (max-width: $tablet) { width: 90%; margin: 0 auto; display: block;  }
  
  
  li { position: relative;
    display: block;
    width: 80%;
   padding-left: 4.08571429em;
  // text-indent: -1.28571429em;
  
   margin-top: 40px;
   clear: both;


   @media  (max-width: $laptop_mac) { width: 90%;     padding-left: 2.28571429em;   }
   @media (max-width: $tablet) { @include f(13.5, 1.4);   }
  


/*

&:nth-last-child(1) { font-weight: 800; 
  &:before {   background: none; }
}
*/


  }
  




  .medialni_obraz {
    &:before {
      display: block;
      float: left;
      left: -35px;
      top:-4px;
      position: relative;
      margin: 0 auto;
      width: 40px; height: 40px;

      @include image("li-image.svg", 40px, 40px);
      content: "";
  
      @media (max-width: 1200px) {  margin-bottom: 10px;  }
      @media (max-width: $tablet) {@include image("li-image.svg", 34px, 34px); top:0px; margin-bottom: 10px;   }
     }
  }




  .srovnani {
    &:before {
       display: block;
      float: left;
      left: -35px;
      top:-10px;
      position: relative;
      margin: 0 auto;
      width: 40px; height: 40px;


      @include image("li-srovnani.svg", 40px, 40px);
      content: "";
      @media (max-width: $tablet) {@include image("li-srovnani.svg", 34px, 34px); top:0px;  margin-bottom: 10px;  }
     }
  }





  .vyhodnoceni {
    &:before {
      display: block;
      float: left;
      left: -35px;
      top:-15px;
      position: relative;
      margin: 0 auto;
      width: 40px; height: 40px;



      @include image("li-vyhodnoceni.svg", 40px, 40px);
      content: "";
      @media (max-width: $tablet) {@include image("li-vyhodnoceni.svg", 34px, 34px); top:-2px;  }
     }
  }



  .zprava {
    &:before {
      display: block;
      float: left;
      left: -35px;
      top:-10px;
      position: relative;
      margin: 0 auto;
      width: 40px; height: 40px;
      
      @include image("li-zprava.svg", 40px, 40px);
      content: "";
      @media (max-width: $tablet) {@include image("li-zprava.svg", 34px, 34px); top:-1px;  }
     }
  }





  .navsteva {
    &:before {
      display: block;
      float: left;
      left: -35px;
      top:-2px;
      position: relative;
      margin: 0 auto;
      width: 40px; height: 40px;
      
      @include image("li-navsteva.svg", 40px, 40px);
      content: "";

      margin-bottom: 10px;

      @media (max-width: $tablet) {@include image("li-navsteva.svg", 34px, 34px); top:4px;  margin-bottom: 25px; }
     }
  }




  .prezentace {
    &:before {
      display: block;
      float: left;
      left: -35px;
      top:0px;
      position: relative;
      margin: 0 auto 15px auto;
      width: 40px; height: 40px;
      
      @include image("li-prezentace.svg", 40px, 40px);
      content: "";
      @media (max-width: $tablet) {@include image("li-prezentace.svg", 34px, 34px); top:0px;  margin-bottom: 25px;  }
     }
  }







  }













}



&__secondBOX { width: 50%; display: block; float: left; 
  //padding: 0 5%; 
  
  
.grafy {  @include image("grafy_toxin.png",1000px, 679px); float: left; left: 280px; top: 60px; position: relative; 

  @media (max-width: $desktopBig) { @include image("grafy_toxin.png",1000px, 679px);  left: 50px; position: relative;  }
  @media (max-width: $laptop_big) { @include image("grafy_toxin.png",900px, 611px);  left: 20px; position: relative; }
  @media (max-width: $laptop_mac) { @include image("grafy_toxin.png",900px, 611px);  left: 100px; position: relative;  }
  @media screen and (max-width: $tablet) { //  @include image("grafy_toxin.png",700px, 475px); margin-top: 50px; 
    display: none;
  }
  


}



@media (max-width: $tablet) { width: 100%; }












}

}