.fifthBlock { position: relative; display: block; overflow: hidden;
  background-color: #f4f5f9;
  width: 100%;

  &__inside {
    width: 100%;
    max-width: 1800px;
    padding: 100px 40px 125px 40px;
    margin: 0 auto;
    overflow: hidden; 
    text-align: center;


    @media screen and (max-width: $tablet) {  padding: 100px 0px 125px 0px;   }




    h2 {
      @include font(40, 48);
      font-weight: 400;
      text-align: center;

      @media (max-width:$tablet) {  @include font(25, 30); margin: 20px 0 40px 0; }
      @media (max-width:$mobil) {       margin: 0px 0 0px 0;}
    }




    &__boxes {
      margin-top: 75px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      @media (max-width:$tablet) {  flex-flow: wrap;   margin-top: 0px;}
      @media (max-width:$mobil) {        margin-top: 15px;}

      &__box {
        width: 25%;
        margin: 0 4%;

        @media (max-width:$tablet) {   width:100%;      margin: 40px 0% 0 0;  }


        .organizace {
          @include image('ikona_vedouci_pracovnik.svg', 90px, 120px);
          margin: 0 auto;
          @media (max-width:$tablet) {  @include image('ikona_vedouci_pracovnik.svg', 70px, 94px);}


        }

        .velke {
          @include image('ikona_PRista.svg', 90px, 120px);
          @media (max-width:$tablet) {  @include image('ikona_PRista.svg', 70px, 94px);}


          margin: 0 auto;
        }

        .stredni {
          @include image('ikona_mluvci.svg', 90px, 120px);
          margin: 0 auto;

          @media (max-width:$tablet) {  @include image('ikona_mluvci.svg', 70px, 94px);}

        }

        h3 {
          font-weight: 400;
          @include font(24, 33);
          text-align: center;
          margin-top: 15px;
          @media (max-width:$tablet) {  @include font(18, 25); }
          span { display: block; clear: both;}
        }

      }
    }





    p {
      margin: 110px 0 80px 0;
      text-align: left;
      @include font(28, 50);
      padding: 0 10%;

       @media (max-width: $tablet) { @include font(18, 32);   margin: 50px 0 30px 0;}
       @media (max-width:$mobil) {   @include font(15, 28);    }
    }


    &__firstBlock { width: 50%; display: block; overflow: hidden; float: left;   
      @media screen and (max-width: $tablet) { width: 100%;   }
    }




    &__secondBlock { width: 50%; display: inline-block; overflow: hidden; float: none; box-sizing: border-box;
    padding: 0 0 0 5%; box-sizing: border-box; margin: 0 auto;
    @media screen and (max-width: $tablet) { width: 80%; float: none; margin: 0 auto; display: block;   }
    }




    ul {
      list-style: none;
      padding: 0px;
      box-sizing: border-box;
      margin-top:100px;

      @media (max-width:$tablet) {   width: 100%;  margin-top:0px;  }
    
    li { 
     padding-left: 1.28571429em;
     text-indent: -1.28571429em;
     margin: 13px 0 0 0;
     text-align: left;

     @include font(18, 30);
     width: 45%; float: left; display: block;

     @media (max-width:$tablet) {   @include font(15, 30); width: 100%;  }
    
      &:before {
        display: block;
        float: left;
        left: -45px;
        top:7px;
        position: relative;
    
        width: 22px; height: 13px;
        @include image("fajfka.svg", 22px, 13px);
        content: "";
        @media (max-width:$tablet) {    @include image("fajfka.svg", 18px, 10px);    top:10px;    left: -28px;  }

       }
    


/*
       &:last-child {
        &:before {
          display: block;
          float: left;
          left: -44px;
          top:4px;
            @include image("krizek.svg", 20px,20px);
          position: relative;
      
          width: 22px; height: 13px;
        
          content: "";
          @media (max-width:$tablet) {    @include image("krizek.svg", 15px, 15px);    top:6px;    left: -28px;  }
  
         }
        }
*/


    }
    }
    





    ul:nth-last-child(1) { 
      list-style: none;
      padding: 0px;
      box-sizing: border-box;
      margin-top:100px;

      @media (max-width:$tablet) {   width: 100%;  margin-top:0px;  }



    
      li { 
        padding-left: 1.28571429em;
        text-indent: -1.28571429em;
        margin: 25px 0 0 0;
        text-align: left;
   
        @include font(18, 30);
        width: 90%; float: left; display: block;
   
        @media (max-width:$tablet) {   @include font(15, 30); width: 100%;  }
       
         &:before {
           display: block;
           float: left;
           left: -44px;
           top:4px;
           @include image("krizek.svg", 20px,20px);
           position: relative;
       
           width: 22px; height: 13px;
        
           content: "";
           @media (max-width:$tablet) {    @include image("krizek.svg", 15px, 15px);    top:6px;    left: -28px;  }
   
          }
       
   
   
   
       }





    }







  }


span { 
  
  @media (max-width:$tablet) {  display: block; clear: both;}
  
  }





}