.firstBlock {
  width: 100%;
  background-color: $bila;
  margin-top: 80px;
  overflow: hidden;

  @media (max-width: $tablet) {  margin-top: 65px; }


  &__inside {
    width: 100%;
    margin: 0 auto;
    background-image: url("../images/bg_toxin.jpg");

    background-size: contain;
    min-height: 960px;
    background-repeat: no-repeat;
    background-position-x: right;
    position: relative;
    z-index: 100;

    @media (max-width: 1300px) { background-size: cover; }



    @include transition();

    &:after { 
      content: "";
      position: absolute; 
      background-size: contain;
      width: 100%;
      height: 0;
      min-height: 960px;
      left: 24%; display: block; z-index: -1;
      background-repeat: no-repeat;
      background-image: url("../images/bg-header.svg");


      @include transition();

      @media screen and (max-width: 2520px) { left:3%;}
      @media screen and (max-width: 2320px) { left:7%;}
      @media screen and (max-width: 2100px) { left:10%;}
      @media screen and (max-width: 1920px) { left:8%;}
      @media screen and (max-width: 1880px) { left:0%;}
      @media screen and (max-width: 1730px) { left:-2%;}
      @media screen and (max-width: 1630px) { left:-5%;}
      @media screen and (max-width: 1560px) { left:-10%;}
      @media screen and (max-width: 1470px) { left:-18%;}
      @media screen and (max-width: 1410px) { left:-22%;}

      @media screen and (max-width: 1300px) { background-image: url("../images/bg-header2.svg"); left: -3%; top: -5px; min-height: 880px;}
      @media screen and (max-width: 1100px) { min-height: 700px;}
      
      @media screen and (max-width: $tablet) { left: -24%; }
      @media screen and (max-width: $mobil) {min-height: 500px; left: -38%; }




    }



    @media screen and (max-width: 2130px) {
      min-height: 840px;
    }

    @media screen and (max-width: 1730px) {
      min-height: 725px;
    }

    @media screen and (max-width: $mobil) {
      min-height: auto;
    }

    @include clearfix();




    &__left {
      float: left;
      padding: 0 0 0 15%;
      @include transition();

      @media screen and (max-width: 1920px) {padding: 0 0 0 10%;}
      @media screen and (max-width: 1730px) {padding: 0 0 0 8%;}
      @media screen and (max-width: 1470px) { padding: 0 0 0 5%; }
      @media screen and (max-width: 1410px) { padding: 0 0 0 3%; }
      @media screen and (max-width: 1300px) { float: none; padding: 0% 2% 4% 2%;text-align: center; }
      @media screen and (max-width: $mobil) {padding: 0% 18% 8%; }

      @media screen and (max-width: 720px) { padding: 0% 14% 8%; }
      @media screen and (max-width: 530px) { padding: 0% 10% 8%;}


      &__text { @include font(42,64); margin-top: 50%; @include transition();

        @media screen and (max-width: 1920px) {  margin-top: 44%; }
        @media screen and (max-width: 1560px) { @include font(36,58); margin-top: 46%; }
        @media screen and (max-width: 1300px) {color: $bila; margin-top: 0; }
        @media screen and (max-width: $tablet) { @include font(22,36); margin-top: 12px; }
        @media screen and (max-width: $mobil) { @include font(18,28); }
       

        span { display: block; clear: both;}

        strong { @include font(38, 42); margin-left: 3px; font-weight: 800;  @include transition();
          @media screen and (max-width: 1560px) { @include font(32,36);  }
          @media screen and (max-width: $mobil) { @include font(25,36);  }
        }  
      }




      &__button {
        margin-top: 80px;
       // background-color: $modra;
        background-color: #0f2576;
        border-radius: 45px;
        padding: 14px 82px 12px 36px;
        color: $bila;
        display: inline-block;
        position: relative;
     
        transition:all .5s ease-in-out;

        @include f(17, 2);

        @media screen and (max-width: 1300px) { margin-top: 36px; }
        @media screen and (max-width: $tablet) {  background-color: $modra;  }
        @media screen and (max-width: $mobil) {   @include f(15, 2); margin: 45px 0 25px 0;    padding: 12px 72px 10px 26px;     }


        &:after { content: ""; 
          position: absolute;
          top:17px;
          right: 35px;
          @include image("sipka-dolu.svg", 15px, 20px);
          @media screen and (max-width: $tablet) {    right: 25px;    top:15px;  }
        }


        &:hover {
          background:#00208d;
        }


      }  












    }



    &__right {
      float: right;
      padding: 5% 4% 0 0;

      @include transition();

      @media screen and (max-width: 1410px) {padding: 5% 2.5% 0 0; }
      @media screen and (max-width: 1300px) { float: none; padding: 2.5% 8% 0 0;}
      @media screen and (max-width: 650px) { position: relative;  left: -7vw; }
      @media screen and (max-width: 605px) { position: relative; left: -12vw; }
      @media (max-width:$tablet) { padding-top: 25px; }

      @media (max-width:$mobil) { left:0;  }

      &__tablet {
        @include image("tablet.png", 1000px, 601px);
        @include transition();
         margin-right: 80px;

       
        @media screen and (max-width: 2130px) {  @include image("tablet.png", 800px, 481px);  }
        @media screen and (max-width: 1730px) {  @include image("tablet.png", 680px, 409px);}
        @media screen and (max-width: 1300px) {@include image("tablet.png", 800px, 481px);margin: 0 auto; }

        @media screen and (max-width: 650px) {@include image("tablet.png", 550px, 331px); margin: 0 auto; }
        @media (max-width:$tablet) { @include image("tablet.png", 600px, 361px);  }
        @media (max-width:$mobil) { @include image("tablet.png", 300px, 180px); margin: 0 auto;   }






      }

      &__icons {
        width: 92%;
        float: right;
        margin-top: 25px;
        margin-right: 0%;


        @media screen and (max-width: 1300px) { display: none; }
        
        &__icon {
          float: left;
          width: 25%;
          padding: 0 10px;

          &__image {
            width: 100px;
            margin: 0 auto;

            @include transition();
            @media screen and (max-width: 1730px) { width: 76px; }

            .prvni {  @include image("zdroj-bila.svg", 100px, 100px);
              @media screen and (max-width: 1730px) {  @include image("zdroj-bila.svg", 76px, 76px); }
            }
            .alert {
              @include image("alert-bila.svg", 100px, 100px);
              @media screen and (max-width: 1730px) { @include image("alert-bila.svg", 76px, 76px); }
            }
            .pohodli {
              @include image("pohodli-bila.svg", 100px, 100px);
              @media screen and (max-width: 1730px) {  @include image("pohodli-bila.svg", 76px, 76px);  }
            }
            .modularni {
              @include image("modular-bila.svg", 100px, 100px);
              @media screen and (max-width: 1730px) { @include image("modular-bila.svg", 76px, 76px);}
            }
          }

          h2 {
            font-weight: 400;
            color: $bila;
            border-bottom: 1px solid #0724dc;
            width: fit-content;
            margin: 4px auto;
            padding-bottom: 5px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            @include transition();

            



            @media screen and (max-width: 1730px) { min-height: 48px;  }
          }
        }
      }
    }
  }
}