.footer { display: block; clear: both; padding: 4% 10% 3% 10%; text-align: center; overflow: hidden; 

    span.protectedNumber:before {  content: "" attr(title); }
    span.protectedEmail:before { content: "" attr(title);}

    @media (max-width:$tablet) { padding-bottom: 12%;  } 

h2 {  
 @include image("toxin_top.svg", 170px, 79px);
  display: block;
  margin: 0 auto 30px auto;
  display: block;
  width: 170px; 


@media (max-width: $tablet) {  margin: 20px auto 30px auto;  width: 120px;  @include image("toxin_top.svg", 120px, 55px);}


}



p { margin: 0 0 26px 0; @include f(15, 1.5); width: 60%; text-align: center; margin: 0 auto; 
    @media (max-width: 1360px) {  width: 100%; display: block; margin: 0 auto;  } 
    @media (max-width:$tablet) {  @include f(14, 1.5); } 

}



&__box { display: block;  overflow: hidden;  margin: 0 auto;  
    @media (max-width: 1360px) {  width: 100%; display: block;  } 
}

&__about {  display: block;  width: 100%; text-align:center; padding: 0 10%; 


h5 { padding: 0; margin: 30px auto 10px auto;   @include f(27, 1.2);
    @media (max-width: 1360px) {  text-align: center; margin: 25px 0 7px 0; @include f(24, 1.2);  } 

}
p { text-align: center; padding: 0; margin: 10px auto 20px auto; 
    @media (max-width: 1360px) {  text-align: center; padding-right: 0;  } 
}
}





&__kontakt { display: block;  width: 100%; margin: 20px 0 0 0;  padding-top: 25px; 
  
    /*
    @media (max-width: $laptop_big) {  width: 70%;   } 
    @media (max-width: 1360px) {  width: 100%; margin: 20px 0 0 0;   } 
*/





 
    &__email {   display: inline-block; position: relative; text-align:center;  width: 50%; margin-bottom: 30px; 
    @media (max-width: 1360px) {  width: 50%; margin-bottom: 30px;  } 
     &:before {  content: ""; width: 38px; height: 38px; background-color: #152694; display: block; border-radius: 50px; position: absolute;  margin: 0 auto; left: 0; right: 0;
 
    }
     &:after {  content: ""; width: 32px; height: 32px; display: block;  @include image("posta.svg", 22px, 22px); position: absolute; top: 8px; left: 8px;   margin: 0 auto; left: 0; right: 0; 
 
    }
    span { @include f(20, 1.2);  display:block; top:5px; margin: 20px auto 0 auto; @include f(16, 5);  text-align: center;
      
      //  @media (max-width: $laptop_big) {   margin: 7px 20px 0 50px; @include f(16, 1.5);   text-align: center;    } 
      //  @media (max-width: 1360px) { margin: 20px auto 0 auto; @include f(16, 5); text-align: center;    } 
       
    }
    }





    &__tel {  display: inline-block; position: relative; text-align:center; clear:both; width: 50%;  margin: 0px; 
     @media (max-width: 1360px) {  width: 50%;  margin: 0 0 0 0px;  } 
     span { @include f(20, 1);  display:block; top:5px; margin: 20px auto 0 auto; @include f(16, 5);  text-align: center;
        @media (max-width: 1360px) { margin: 20px auto 0 auto; @include f(16, 5);  text-align: center;    } 
    }

     &:before {  content: ""; width: 38px; height: 38px; background-color: #152694; display: block; border-radius: 50px; position: absolute;  margin: 0 auto; left: 0; right: 0; 
 }

     &:after {  content: ""; width: 32px; height: 32px;  @include image("telefon.svg", 22px, 22px); display: block; position: absolute; top: 8px; left: 7px;   margin: 0 auto; left: 0; right: 0; 
 }
    }





    &__social {  width: 100%;  float: none; text-align: center;

      //  @media (max-width: $laptop_big) {  width: 30%;   } 
      //  @media (max-width: 1360px) {  width: 100%;  float: none; text-align: center;  } 


        &__ikony {  display: inline-block; width: 100%; margin-top: 25px; 
            @media (max-width: $tablet) { width: 100%;   } 
            &__in {@include image("inkedin.svg", 38px, 38px); display: inline-block; margin: 0 13px 0 0; text-align: left;   }
            &__fb { @include image("fb.svg", 38px, 38px); display: inline-block;    }
            &__tw { @include image("twitter.svg", 38px, 38px); display: inline-block; margin: 0 13px 0 0;  text-align: left;   }
        }
    }
    


}


}