.form { display: block; clear: both; padding: 3% 7%; position: relative;  text-align: center; overflow: hidden; background-color: #181156; min-height: 458px;



    .protectedNumber:before {
        content: "" attr(title);
    }

    .protectedEmail:before {
        content: "" attr(title);
    }




    &__kontakt { width: 50%; box-sizing: border-box; padding: 0 5%; text-align: left; }
    &__form { width: 50%;}

    @media (max-width:$desktopBig) { padding: 4% 6%;}
    

h2 { color: $bila; @include f(29, 1.2); font-weight: 100; margin-bottom: 70px; margin-top: 20px;

    @media (max-width:$tablet) {  @include font(25, 40); margin: 20px 0 40px 0; text-align: center; margin-top: 40px; }

}
h4 {color: $bila; @include f(24, 1.2); font-weight: 100; margin-bottom: 5px; 
    @media (max-width: $tablet) { text-align: center;  @include f(24, 1.3);  }

}
span { display: block; clear: both;}

p { color: #a0acff ; @include f(22, 1.5);
    @media (max-width: $tablet) { text-align: center; @include f(20, 1.4); }
}


&:before { 
    content: ""; display: block; @include image("x-bila.svg", 455px, 466px); 
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -4px;
    text-align: center;

    @media (max-width: 1360px) {  display: none;  }

}


&__kontakt {  width: 50%; display: block; float: left;
    @media (max-width: $tablet) { width: 100%; float: none; }
}


&__form { padding: 0 0 0 15%; margin: 0px 0 0 0; width: 50%; display: block; float: left;
   
    @media (max-width:$desktopBig) {  padding: 0 0 0 18%; }
    @media (max-width: 1360px) {   padding: 0 0 0 2%; }
    @media (max-width: $tablet) { width: 100%; float: none;  padding: 0 5% 0 5%; margin-top: 30px; }
   
   

    &__errors{
        color: red;
        height: 30px;
        float: left;
        width: 100%;
        margin-bottom: -30px;
    }


    &__polovina { width: 48%; display: block;  float: left;  box-sizing: border-box; color: lightgray; margin-right: 4%;
    
        &:nth-child(2) {  margin-right: 0; }
        @media (max-width: $tablet) {  width: 100%; }
    }
    &__cela { width: 100%; display: block; margin: 20px 0 0 0;  display: block;color: lightgray; float: left;
    
        &:nth-child(1) { margin: 0 0 20px 0; }

        @media (max-width: $tablet) {  margin: 60px 0 0 0; }
    
    }
  
    input { @include f(19, 2.8); float: right; display: block; background: none; border-bottom:solid 1px #27348b; border-top: none; border-left: none; border-right: none; 
        &::-webkit-input-placeholder {color: #c5cad4; }
        &:-moz-placeholder { color: #c5cad4;   }
        &::-moz-placeholder {color: #c5cad4;  }
        &:-ms-input-placeholder {color:#c5cad4; }
    
        &:focus::-webkit-input-placeholder  { color: red;  }
        &:focus:-moz-placeholder  { color: red;}
        &:focus::-moz-placeholder  { color: red; }
        &:focus:-ms-input-placeholder  { color: red;}
    
        &:focus {outline:none;}
        &:focus { border-top: solid 1px transparent;
        border-left: solid 1px transparent;
        border-right: solid 1px transparent;
        border-bottom: 1px solid red;   color: red;  }

        @media (max-width: $tablet) {  @include f(16, 2.4); margin: 30px 0 0 0; }
   
   
   

        
   
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:active,
        &:-webkit-autofill:focus {
        background-color: transparent !important;
        -webkit-box-shadow: 0 0 0 50px #152694 inset;
        -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
        -webkit-transition-delay: 9999s;
    }
   
   
   
   
   
    }




    &__button {

        // background-color: $modra;
         background-color: #0f2576;
         border-radius: 45px;
         padding: 12px 82px 10px 36px;
         color: $bila;
         display: inline-block;
         position: relative;
         float: left;
         cursor: pointer;
      
         transition:all .5s ease-in-out;
         margin: 37px auto 7px auto;
 
         @include f(17, 2);
 
         @media  (max-width: 1300px) {         margin: 37px auto 0px auto;   }
         @media  (max-width: $tablet-big) {          margin: 37px auto 0px auto;  }
         @media  (max-width: $tablet) {   margin: 40px auto 45px auto; padding: 12px 72px 10px 26px;  @include f(15, 2); float: none;  }
 
 
 
         &:after { content: ""; 
           position: absolute;
           top:22px;
           right: 35px;
           @include image("sipka.svg", 16px, 16px);
 
           @media screen and (max-width: $tablet) {    right: 25px;    top:19px;  }
         }
 
 
         &:hover {
           background:#00208d;
         }
 
 
       }  

























  }




















}

