.fourthBlock {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;

  min-height: 580px;


  @include clearfix();

  @media (max-width: $tablet) {
    flex-wrap: wrap;
  }

  &__left {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: flex-end;

    @media (max-width: $tablet) {
      width: 100%;
      justify-content: center;
      margin: 25px 0 30px;
    }


    &__inside {     margin-right: 25px; margin: 0 auto;  display: block;
      padding: 20px 50px 20px 30px;
      text-align: center;
      max-width: 580px;
  

      @media screen and (max-width: $tablet) {
        padding: 30px;
        max-width: fit-content;
        width: 90%;
        margin: 0 auto;
      }

      h2 {
        font-weight: 400;
        @include font(38, 45);
        color: $modra;

        @media screen and (max-width: $tablet) {   @include font(25, 40); }


      }
      p {
        margin: 30px 0 15px 0;
        @include font(15, 29);
        color: $modra;

        @media screen and (max-width: $tablet) {   @include font(14, 24); }


        &:nth-child(3){ margin: 15px 0 30px 0;}


      }







    







    &__button {

       // background-color: $modra;
        background-color: #0f2576;
        border-radius: 45px;
        padding: 14px 82px 12px 36px;
        color: $bila;
        display: inline-block;
        position: relative;
     
        transition:all .5s ease-in-out;
        margin: 5px auto 7px auto;

        @include f(17, 2);

        @media  (max-width: 1300px) {    margin: 15px auto 17px auto; }
        @media  (max-width: $tablet-big) {    margin: 26px auto 17px auto; }
        @media  (max-width: $tablet) {   margin: 30px auto 0px auto; padding: 12px 72px 10px 26px;  @include f(15, 2);  }



        &:after { content: ""; 
          position: absolute;
          top:22px;
          right: 35px;
          @include image("sipka.svg", 16px, 16px);

          @media screen and (max-width: $tablet) {    right: 25px;    top:19px;  }
        }


        &:hover {
          background:#00208d;
        }


      }  

 
























    }
  }










  &__right {
    background-color: #e7e8f2;
    width: 50%;

    @media (max-width: $tablet) {
      width: 100%;
    }




    &__video  {
      width: 65%;
      overflow: hidden;
      margin: 60px auto 0 auto;
      display: block;

    //  @media (max-width:2000px)  {    margin: 140px auto 0 auto;   }
    @media  (max-width: $laptop_big) {  width: 70%; }
      @media (max-width: $laptop_mac) {   margin: 40px auto 0 auto; width: 80%; }
      @media (max-width: $tablet) {  min-height: 240px;  width: 95%;  margin: 40px auto 80px auto;}
      @media (max-width: $mobil) {  min-height: 240px;  width: 95%;  margin: 30px auto 50px auto;}
    }



    .projekty{
      width: 100%;
      border: none;
      display: block;
      position: relative;     
      left: 1px;

  
     //@media (max-width: $laptop_mac) {  width: 100%;  }

    // @media screen and (max-width: $desktopBig) {  width: 90%; max-width: 1087px;}
    // @media screen and (max-width: $laptop_big) {  width: 95%; margin-top: 70px;}
    // @media screen and (max-width: $laptop_mac) {  width: 96%; margin-top: 120px;}
     @media screen and (max-width: 2300px) {  margin-top:50px; }
     @media screen and (max-width: $desktopBig) {   margin-top:70px;  }
     @media screen and (max-width: $laptop_big) { margin-top: 90px; }
     @media screen and (max-width: $laptop_mac) { margin-top: 120px; }
     
     @media screen and (max-width: $tablet) {  margin-top:40px;}
     @media screen and (max-width: $mobil) {   margin-top:30px;}
    }






    span { display: block; clear: both;}


 



    &__inside {

      @include clearfix();

      &__image {
        width: 100%;
      
        position: relative;

        @media screen and (max-width: $mobil) {
          max-width: 700px;
        }

        &__img {
         // @include image-responsive('program.png',951px, 879px);
        }

        &__button {
          position: absolute;
          right: -80px;
          bottom: 30px;
          background-color: $modra;
          color: $bila;
          border-radius: 150px;
          text-align: center;
          width: 190px;
          height: 190px;

          @media (max-width: $laptop_mac) {  right: 0px; left: 0; margin: 0 auto;   }


          &:before {
              content: "";
              display: block;
              margin: 0 auto;
              top: 50px;
              position: relative;
              @include image('sipka.svg', 24px, 24px);

              @media (max-width: $tablet) {     top: 25px;  @include image('sipka.svg', 20px, 20px);     }


          }


          @include transition();
          @media screen and (max-width: 600px) {
            bottom: 0px;
            width: 115px;
            height: 115px;
            background-position: top 22px right 49px;
          }

          &__text {
            margin-top: 72px;
            @include font(16, 24);
            @include transition();


            @media (max-width: 600px) { margin-top: 48px;@include font(15, 22);}
            @media (max-width: $tablet) {  margin-top: 30px;@include font(14, 18);  }




          }
        }
      }
    }
  }
}

