html { display:block; font-size: 100%;}
body {
  font-family: 'Raleway', sans-serif;



  line-height: 22px;
  @include font( 18, 24);
  font-weight: 400;
  color:$modra;

  margin:0;
  padding:0;
  width:100%;
  background:$bila;
  }

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
li, ul,
input,
textarea {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;;
  @include font(17, 24);


}

div {box-sizing: border-box;}
strong { font-weight: 700;}

li { list-style:none;}
fieldset { border: none; padding: 0; margin: 0;}
img {height:auto;}
.br { display:block; clear:both;}
img { border:none; }


h1 {}
h2 { }
h3 { }
h4 { }
h5 { font-weight: 400;}
p { .br { display: block; clear: both;  overflow: hidden;}}