.menu {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  padding: 8px 25px;
  z-index: 999;


  @media (max-width: $tablet) {   padding: 6px 25px;   min-height: 65px;  }
  @include clearfix();

  &__inside {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    overflow: hidden;

    &__logo {
      float: left;
      &__image {
        @include image("toxin_top.svg", 110px, 51px);
        margin-top: 4px;
        @media (max-width: $tablet) {  @include image("toxin_top.svg", 85px, 40px); margin-top: 7px; }
      }


     


    }


#zavrit { 
  display: none; 
   @include image("zavrit.svg", 30px,30px);
   position: absolute;
   right: 14px;
   top: -22px;

   @media (max-width:$desktop_mini ) { position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0px;
    text-align: center; }



  }

 // změny po rozkliku hamburgeru
 .responze-nav {

 // @include transition();

  width: 100% !important;
  position: fixed!important;
  padding:120px 5% 0 5%!important;
  top: 0px;
  left: 0;
  box-sizing: border-box;
  background:rgba( #27348b, .96 ) !important;
  z-index: 99999;
  height: 100%!important;
  margin-top: 75px;


   
  @media (max-width: $tablet) {margin-top: 65px; }

  //margin: 50px 0 0 0 !important;

  li { display: block; clear:both; margin: 0 auto;   text-align: center;

    @media (max-width: $tablet) {  }


    a { text-align: center !important; margin: 0 auto !important; float: none;  @include f(20, 1.5); }







        





/*
&:nth-child(5) { display: inline-block; margin: 40px 0 0 0;    
a { background-color: #0b1875;  @include f(16, 1.5); padding: 14px 32px;  }
}
*/
    

  }
  //.mainOne { background-color: #fff !important; max-width: 200px; margin-top: 50px;  }

  #zavrit { display:block; cursor: pointer; margin: 50px auto 0 auto; width: 30px; position: absolute; 
    svg { width: 30px; height: 50px; 
    
      .polygon {   } }



    &:hover { svg { .polygon {  } } }
  }
  .navigace__ul {display: inline-block; width: 100%; border: solid 1px red;
  
  

  
  
  }
  .navigace__button { margin: 50px auto 0 auto; top: 0px !important; float: none; 
    

  }
  .menu__inside__links__link {
   display: block; 
   color: #fff;
   clear: both;
   text-align: center;
   margin: 0 auto;


  }
}
/// konec










    &__socials {
      float: left;
      padding-top: 18px;
      margin-left: 85px;

      @include transition();
 
      @media  (max-width: 1260px) {margin-left: 20px; }

      @media  (max-width: 1020px) {margin-left: 50px; }
      @media (max-width: $tablet) {display: none; }




      &__link {
        display: inline-block;
        margin-right: 5px;

        &__linkedin {
          @include image("inkedin.svg", 28px, 28px);
        }
        &__twitter {
          @include image("twitter.svg", 28px, 28px);
        }
        &__facebook {
          @include image("fb.svg", 28px, 28px);
        }
      }
    }



    &__hamburger {  
      width: 40px;
      height: 40px;
      float: right;
      display: none;
      cursor: pointer;
      
      
      &__icon {@include image("hamburger.svg", 40px, 13px); display: block; margin:30px 5px 0 0;     
        @media (max-width: $tablet) { margin:25px 0px 0 0;  }
      }
      @media (max-width: 1020px) {display: block; }
    }



    &__links {
      float: right;
      padding-top: 7px;
     // margin-right: 18px;


      ul { text-align:center;
      li { display: inline-block;}     
      }

      &__link {
        float: right;
        color: $modra;
        @include font(15, 24);
        margin-left: 45px;
        padding: 10px 0;



        @media  (max-width: 1260px) {   margin-left: 25px;  @include font(14, 24); }
        @media (max-width: 1020px) {display: none; }
        @media (max-width: $tablet) {display: none; }

/*
        @media screen and (max-width: 1020px) {
          margin-left: 22px;
        }
*/


        &.mainOne {
          color: $bila;
          background-color: #0b0d54;
          border-radius: 40px;
          padding-left: 30px;
          padding-right: 30px;
          transition:all .5s ease-in-out;

          &:hover {
            background:#00208d;
          }

          @media  (max-width: 1260px) {   padding-left:14px; padding-right: 14px; }
          @media (max-width: 1020px) {padding-left: 24px; padding-right: 24px; }
        }




      }




    }







  }
}