.popup_formular {   background: rgba(#152694, 0.55) !important; padding-top: 4%;  


  @media (max-width:$mobil) {padding-top: 25px;   }

  .padding-l-10 { padding-left: 15%; }
  .mar-20 { margin-top: 20px;}


  .modal-content {padding: 10% 25% 0 25%; width: 100%; height: 100%; display: block;  box-sizing: border-box;
  
    @media (max-width:$laptop_mac) { padding: 5% 16% 0 16%;     }
    @media (max-width:$desktop_mini) { padding: 10% 18% 0 18%;      }
    @media (max-width:$mobil) { overflow: hidden; display: block; position: relative; padding: 12% 7% 0 7%;    }
  
  
    .close_popup {
      cursor: pointer;
      float: right;
      position: relative;
      right: 40px;
      top: 27px;
      box-sizing: border-box;
      z-index: 1000;

      @media (max-width:2000px) {  right: 30px;  top: 25px; }
     // transition: transform .3s ease-in-out;
      display: block;
      @include image("zavrit.svg", 32px, 32px); 
      &:hover {//   transform:rotate(90deg);
      }


      @media (max-width:$tablet) {   @include image("zavrit.svg", 23px, 23px);  top: 25px;  right: 50px;   }
      @media (max-width:$mobil) {   @include image("zavrit.svg", 22px, 22px);  top: 15px;  right: 20px;   }
    }


    &__form {
      background-color: #152694; height: auto; border-radius: 17px; padding: 8% 8% 6% 8%; width: auto;  display: block;  box-sizing: border-box;
      box-shadow: 1px 1px 20px 3px  rgba(#0b1875, 0.2);

      form { }

      @media (max-width:2000px) {  padding: 8% 8% 6% 8%;  }
      @media (max-width:$laptop_mac) {  padding: 8% 4% 4% 4%;    }
      @media (max-width:$tablet) {  padding: 60px 8% 40px 8%;    }
      @media (max-width:$mobil) {  padding: 40px 8% 40px 8%;    }

    

      &__first { width: 80%; display: block; float: none; margin: 0 auto; padding: 0 2%;
      p { @include f(18, 1.7); text-align: center;}

      @media (max-width:$tablet) { width: 100%; display: block; float: none;   
        p { @include f(20, 1.4);}
      }

      @media (max-width:$mobil) {  p { @include f(17, 1.3);}  }

      }
      
      
      &__second { width: 62%; display: block; float: left; padding: 0 2%;
        @media (max-width:$tablet) { width: 100%; display: block; float: none;  margin-top: 15px;    }
        p { @include f(17, 1.7);}


        @media (max-width:$mobil) {  p { @include f(14, 1.4);}  }

      } 
    



      &__formular {   display: block;  overflow: hidden; width: 100%; height: auto;  box-sizing: content-box; text-align: center; padding-top: 45px;       
        @media (max-width:$tablet) { padding-top: 15px;  }
        @media (max-width:$mobil) { padding-top: 8px; }

        input { 
          @include f(18, 2);  background: none; color: #fff; border-bottom:solid 1px #0630e5; border-top: none; border-left: none; border-right: none; box-sizing: border-box; width: 80%; float: right;

        
          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:active,
          &:-webkit-autofill:focus {
          background-color: transparent !important;
          -webkit-box-shadow: 0 0 0 50px #152694 inset;
          -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
          -webkit-transition-delay: 9999s;
      }








          @media (max-width:$tablet) { @include f(15, 2);  }

          &::-webkit-input-placeholder {color: #fff; }
          &:-moz-placeholder { color: #c5cad4;   }
          &::-moz-placeholder {color: #c5cad4;  }
          &:-ms-input-placeholder {color:#c5cad4; }
      
          &:focus::-webkit-input-placeholder  { color: red;  }
          &:focus:-moz-placeholder  { color: red;}
          &:focus::-moz-placeholder  { color: red; }
          &:focus:-ms-input-placeholder  { color: red;}
      
          &:focus {outline:none;}
          &:focus { border-top: solid 1px transparent;
          border-left: solid 1px transparent;
          border-right: solid 1px transparent;
          border-bottom: 1px solid red;   color: red;  }


          @media (max-width:2000px) { width: 76%;   }
          @media (max-width:$tablet) {   width: 100%; margin: 8px 0 10px 0;  }

      }





    
 












      &__errors{
        color: red;
        height: 30px;
        float: left;
        width: 100%;
        margin-top: 15px;
       // margin-bottom: -30px;
       @include font(15, 24); 

      }

    &__box1 {  display: block; overflow: hidden; width: 33%; box-sizing: border-box; position: relative; float: left;
     
      @media (max-width:2000px) { width: 33%;  }
      @media (max-width:$laptop_mac) {   width: 31%;  }
      @media (max-width:$tablet) { width: 100%; clear: both;    }
       
      &:before {
        content: "";
        display: inline-block;
        width: 39px;
        height: 40px;
        position: absolute;
        top: 2px;
        left: 5%;  

      

        @include image("pop_form_user.svg", 36px, 36px); 

        @media (max-width:2000px) { left: 6%; }
        @media (max-width:$laptop_mac) {   margin: 0 8px 0 0;  }
        @media (max-width:$tablet) {  display: none; }

      }


    
    }
    &__box2 {  display: block; overflow: hidden; width: 33%; box-sizing: border-box; position: relative; float: left;
      @media (max-width:$laptop_mac) {   width: 33%;  }
      @media (max-width:$tablet) { width: 100%; clear: both;    }

      &:before {
        content: "";
        display: block;
        width: 31px;
        height: 32px;
        position: absolute;
        top: 2px;
        left: 5%;  
        @include image("pop_form_telefon.svg", 31px, 32px); 


        @media (max-width:2000px) { left: 6%; }
        @media (max-width:$desktopBig) { left: 4%; }
        @media (max-width:$laptop_mac) {   margin: 0 8px 0 0;  }
        @media (max-width:$tablet) {  display: none; }
     
      }
    }


    &__box3 { display: block; overflow: hidden; width: 33%; box-sizing: border-box; position: relative; float: left;
      @media (max-width:$laptop_mac) {   width: 33%;  }
      @media (max-width:$tablet) { width: 100%; clear: both;    }

      &:before {
        content: "";
        display: inline-block;
        width: 31px;
        height: 32px;
        margin: 0 10px 0 0;
        position: absolute;
        top: 2px;
        left: 5%;  
        @include image("pop_form_email.svg", 31px, 32px); 

        @media (max-width:2000px) { left: 6%; }
        @media (max-width:$desktopBig) { left: 4%; }
        @media (max-width:$laptop_mac) { margin: 0 8px 0 0;  }
        @media (max-width:$tablet) {  display: none; }

      }
  
      
    }






    &__box4 { display: block; overflow: hidden; width: 100%; box-sizing: border-box; position: relative; float: left; clear: both; box-sizing: border-box;
      @media (max-width:$tablet) { width: 100%; clear: both;    }



      input { 
        @include f(18, 2);  background: none; margin-top: 50px; color: #fff; border-bottom:solid 1px #0630e5; border-top: none; border-left: none; border-right: none; box-sizing: border-box; width: 93%; 

        @media (max-width:2400px) { width: 93%;   }
        @media (max-width:2000px) { width: 91%;  }
        @media (max-width:$tablet) { width: 100%; margin-top: 20px;@include f(15, 2);  }  
    }
  
    &:before {
      content: "";
      display: inline-block;
      width: 31px;
      height: 32px;
      margin: 0 10px 0 0;
      position: absolute;
      top: 44px;
      left:2%;  
      @include image("poznamka.svg", 36px, 40px); 

      @media (max-width:2400px) { left: 1%; }
      @media (max-width:2000px) { left: 2%; }
      @media (max-width:$desktopBig) { left: 2%; }
      @media (max-width:$laptop_mac) { margin: 0 8px 0 0;  }
      @media (max-width:$tablet) {  display: none; }

    }
  
 
  
  }





  
      &__button { 
        position: relative;
        background-color: #0b1875;
        border-radius: 50px;
        padding: 17px 78px 17px 35px;
        clear: both;
        color: $bila;
        display: inline-block;
        @include font(16, 24); 
        margin-top: 60px;
        letter-spacing: 0.2px;
        cursor: pointer;

        @media (max-width:$tablet) { margin-top: 10px;    }
        @media (max-width:$mobil) {    padding: 14px 58px 13px 25px; }


      &:after { 
      content: "";
      display: block;
      right: 27px;
      top: 21px;
      position: absolute;
      @include image("sipka-pravo.svg", 25px, 18px);
   

      @media (max-width:$mobil) {   top:-5px; }
      @media (max-width:$mobil) {   top: 16px; right: 20px; }

      }
  
      }



        }



     
  
  





    }










    p { color: $bila;}


  }

  @media (max-width:$laptop_mac) {  .column2 {  width: 100%;  }  }
  @media (max-width:$mobil) {  .column6-10 { display: none;  }  }




}

