.reference {
  width: 100%;
  background-color: $modra;
  background-image: url('../images/bg-reference.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__inside {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 80px 40px 105px;

    h2 {
      color: $bila;
      @include font(39, 45);
      font-weight: 100;
      text-align: center;

      @media (max-width:$tablet) {  @include font(25, 40); }


    }




    &__images {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      &__image {    
        width: 25%;
        padding: 20px 6%;
        margin-top: 55px;
        margin-bottom: 0;

        .globalpayments {
          @include image-responsive('globalpayments.png', 280px, 48px);
          @media (max-width:$tablet) {  @include image('globalpayments.png', 140px, 24px);  margin: 0 auto;}
        }

        .eltodo {
          @include image('firmy/eltodo.svg', 200px, 56px);
          @media (max-width:$tablet) {  @include image('firmy/eltodo.svg', 100px, 30px); margin: 0 auto; }
        }


        .NM {
          @include image('firmy/electro_world.svg', 120px, 56px);
          @media (max-width:$tablet) {  @include image('firmy/electro_world.svg', 59px, 28px); margin: 0 auto;}
        }

        .lfuk {
          @include image('firmy/1LF_UK.svg', 200px, 69px);
          @media (max-width:$tablet) {  @include image('firmy/1LF_UK.svg', 85px, 30px); margin: 0 auto;}
        }


        .Nmuseum {
          @include image('firmy/Nmuseum.svg', 210px, 95px);
          @media (max-width:$tablet) {  @include image('firmy/Nmuseum.svg', 90px, 41px); margin: 0 auto;}
        }



        .electroworld {
          @include image('firmy/electro_world.svg', 120px, 56px);
          @media (max-width:$tablet) {  @include image('firmy/electro_world.svg', 59px, 28px); margin: 0 auto;}
        }

        .geosangroup {
          @include image('firmy/Geosan_group.svg', 170px, 51px);
          @media (max-width:$tablet) {  @include image('firmy/Geosan_group.svg', 98px, 30px); margin: 0 auto;}
        }
        .kralovehradeckykraj {
          @include image('firmy/kralovehradecky_kraj.svg', 170px, 75px);
          @media (max-width:$tablet) {  @include image('firmy/kralovehradecky_kraj.svg', 67px, 30px); margin: 0 auto;}
        }
        .libereckykraj {
          @include image('firmy/liberecky-kraj.svg', 160px, 73px);
          @media (max-width:$tablet) {  @include image('firmy/liberecky-kraj.svg', 65px, 30px); margin: 0 auto;}
        }

        .nemocnicetomasebati {
          @include image('firmy/nemocnice_tomase_bati.svg', 150px, 33px);
          @media (max-width:$tablet) {  @include image('firmy/nemocnice_tomase_bati.svg', 128px, 28px); margin: 0 auto; left: -7px; position: relative;}
        }
       // $desktop_mini










        @media (max-width:$tablet) { width: 50%; }



      }
    }

  }



span { display: block; clear: both;}




}