.secondBlock {
  width: 100%;
  background-color: $bila;
  padding: 40px;
  margin-top: 40px;

  @include transition();


  @media (max-width: $tablet) {padding: 30px;  }
  @media (max-width: $mobil) {padding: 20px;  }



  &__inside {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;

    h1 {
      font-weight: 400;
      @include font(44, 54);
      margin: 20px 0 50px 0;
      text-align: center;

      @media (max-width:$tablet) {  @include font(25, 30); margin: 0px 0 40px 0; }
      @media (max-width:$mobil) {   margin: 0px 0 30px 0;}

    }



    &__box {
      display: block;
      clear: both;
      overflow: hidden;
      width: 100%;
      text-align: center;



      &__button {

       // background-color: $modra;
        background-color: #0f2576;
        border-radius: 45px;
        padding: 14px 82px 12px 36px;
        color: $bila;
        display: inline-block;
        position: relative;
     
        transition:all .5s ease-in-out;
        margin: 5px auto 7px auto;

        @include f(17, 2);

        @media  (max-width: 1300px) {    margin: 15px auto 17px auto; }
        @media  (max-width: $tablet-big) {    margin: 26px auto 17px auto; }
        @media  (max-width: $tablet) {   margin: 10px auto 30px auto; padding: 12px 72px 10px 26px;  @include f(15, 2);  }



        &:after { content: ""; 
          position: absolute;
          top:22px;
          right: 35px;
          @include image("sipka.svg", 16px, 16px);

          @media screen and (max-width: $tablet) {    right: 25px;    top:19px;  }
        }


        &:hover {
          background:#00208d;
        }


      }  






















    
  }






/*
    &__logo {
      @include image('maximus-logo.svg', 360px, 90px);
      margin: 0 auto;
      @media (max-width: $mobil) {display: block;@include image('maximus-logo.svg', 300px, 75px); float: none; margin: 0 auto; }
    }
*/

    &__firstText {
      max-width: 1100px;
      margin: 0 auto;
      @include font(17, 35);
      text-align: center;
      letter-spacing: 0.5px;
      margin-top: 30px;

      @include transition();
      @media (max-width:$tablet)  { @include f(13, 1.5); width: 100%; margin-top: 0px; }

    }


    &__secondText {
      max-width: 1020px;
      margin: 0 auto;
      @include font(17, 35);

      text-align: center;
      letter-spacing: 0.5px;
      margin-top: 30px;

      @include transition();

      @media (max-width:$tablet){ @include f(13, 1.5); width: 100%;  margin-top: 20px; margin-bottom: 30px;}
    }



    &__thirdText {
      max-width: 1020px;
      margin: 0 auto;
      @include font(18, 35);
      text-align: center;
      letter-spacing: 0.5px;
      margin-top: 30px;
      margin-bottom: 20px;
      font-weight: 600;
      clear: both;

      @include transition();

      @media (max-width:$tablet){ @include f(14, 1.5); width: 100%;  display: block;  padding: 35px 10% 0 10%;  }

    }




    &__fordText {
      max-width: 1020px;
      margin: 0 auto;
      @include font(17, 35);
      @include font(16, 35);
      text-align: center;
      letter-spacing: 0.5px;
      margin-top: 30px;

      @include transition();

      @media (max-width:$tablet){ @include f(13, 1.5); width: 100%;  margin-top: 20px; margin-bottom: 20px;}

    }





    &__points {
      max-width: 1160px;
      margin: 0 auto;
      margin-top: 10px;

      @include clearfix();

      &__point {
        float: left;
        width: 25%;
        padding: 30px;

        @include transition();

        @media screen and (max-width: 1100px) {
          padding: 20px;
        }

        @media screen and (max-width: 1000px) {
          width: 50%;
        }

      
        @media screen and (max-width: $tablet) {
          padding: 5px 25px 24px 25px; width: 100%; display: block; overflow: hidden; 
        }

        &__image{
          width: 114px;
          margin: 0 auto;
          @include transition();

          @media screen and (max-width: $mobil) {
            width: 88px;
          }

          .prvni {
            @include image("zdroj.svg", 114px, 114px);

            @media screen and (max-width: $mobil) {
              @include image("zdroj.svg", 88px, 88px);
            }
          }
          .alert {
            @include image("alert.svg", 114px, 114px);
            @media screen and (max-width: $mobil) {
              @include image("alert.svg", 88px, 88px);
            }
          }
          .pohodli {
            @include image("pohodli.svg", 114px, 114px);

            @media screen and (max-width: $mobil) {
              @include image("pohodli.svg", 88px, 88px);
            }
          }
          .maximus {
            @include image("modular.svg", 114px, 114px);

            @media screen and (max-width: $mobil) {
              @include image("modular.svg", 88px, 88px);
            }
          }
        }

        h2 {
          text-align: center;
          @include font(24, 28);
          font-weight: 400;
          margin: 15px 0 10px 0;
          min-height: 65px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: #27348b;

    

          @media (max-width:670px) {
            min-height: 60px;
          }

          @media (max-width:$mobil){ 
            @include font(19, 27);
            min-height: auto;
            margin: 7px 0;
          }



        }

        p {
          text-align: center;
          @include f(16, 1.4);
          margin-top: 0px;
          
          @media (max-width:$mobil){ 
            margin-top: 10px; @include font(13, 18);
          }
        }
      }
    }


    
  }
}