.thirdBlock {
  width: 100%;
  background-color: $modra;
  background-image: url('../images/bg-moduly.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;

  @include transition();

  @media screen and (max-width: $mobil) {
    margin-top: 0px;
  }


span { display: block; clear: both;}




  &__inside {
    width: 100%;
    max-width: 1750px;
    margin: 0 auto;
    padding: 80px 40px;

    @include transition();

    @media (max-width: $mobil) {
      padding: 40px 10px;
    }

    &__maximus {
      @include image('maximus-logo-bila.svg', 310px, 58px);
      margin: 0 auto;

      @include transition();

      @media screen and (max-width: $mobil) {
        @include image('maximus-logo-bila.svg', 220px, 41px);
      }
    }

    &__secondLine {
      color: $bila;
      @include font(25, 28);
      margin-top: 10px;
      text-align: center;
      letter-spacing: 1px;

      @include transition();

      @media screen and (max-width: $mobil) {
        @include font(23, 26);
        margin-top: 7px;
      }
    }



    &__boxes {
      margin-top: 25px;
      display: flex;
      flex-wrap: wrap;

      &__center {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      &__box, &__center__box {
        width: 47%;
        margin: 1.5%;
        padding: 20px 26px 34px 40px;
        border: 2px solid #3248c2;

        background-color: rgba(#071377,1);


        /*
        //datel 
        &:nth-child(3) { 
          h2 {  @include font(30, 40); 
            @media (max-width: $tablet) { @include font(22, 25);text-align: center; }
          }
        }
        */



        
        @media (max-width: $tablet) { width: 98%;  padding: 28px 26px 24px 40px;     border: 1px solid #3248c2; }
        @media screen and (max-width: $mobil) {  width: 100%;  padding: 28px 24px 24px 24px;  }



        &__number {
          color: #a8aeda;
          text-align: right;

          @media (max-width: $tablet) { display: none; }
        }



        &__toxin {
          @include image('moduly/toxin.svg', 50px, 17px); float: right; right:-8px; position: relative;
          @media (max-width: $tablet) { display: none; }

      



        }

        &__ctk {
          @include image('moduly/CTK.svg', 48px, 31px); float: right;  right:-8px; position: relative;
          @media (max-width: $tablet) { display: none; }
        }

        &__infoprofi {
          @include image('moduly/infoprofigroup.svg', 65px, 25px); float: right; right:-8px; position: relative;
          @media (max-width: $tablet) { display: none; }
        }


        &__solidis {
          color: #a8aeda;
          text-align: right;
          @include image('moduly/solidis.svg', 65px, 14px); float: right;  right:-8px; position: relative;

          @media (max-width: $tablet) { display: none; }
        }







        h2 {
          color: $bila;
          @include font(28, 40);
          @include transition();
          @media (max-width: $tablet) { @include font(22, 25);text-align: center; }
  
        

        }

        p {
          color: #e5e8ff;
          @include font(16, 22);
          margin-top: 8px;
          padding-right: 10px;
       


          @media (max-width: $tablet) { @include font(13, 22);   margin-top: 6px; text-align: center; }


        }
      }
    }
  }
}