.validace_success {
position: fixed;
right: 0;
top:140px;
min-height: 90px;
height: auto;
width: 365px;
padding: 20px;
display: none;
background:rgba( #fff, .96 ) !important;
z-index: 99999;
text-align: center;
border-top: solid 5px #1fd76d;


&__zavrit {
  position: absolute; display: block; right: 16px; top: 30px;
  width: 28px; height: 28px; 
  @include image("zavrit-succes.svg", 22px, 22px);
}

&__firstbox {width: 32%;  display: inline-block; float: left;
p { @include f(19, 1.3); text-align: left; color: #1fd76d; font-weight: 600; }
}


&__secondbox { width: 68%;  display: inline-block; float: left; padding: 0 10% 0 4%; 
p { @include f(14, 1.2); text-align: left;}
}
}


.validace_error {
  position: fixed;
  right: 0;
  top:140px;
  min-height: 90px;
  height: auto;
  width: 365px;
  padding: 20px;
  display: none;
  background:rgba( #fff, .96 ) !important;
  z-index: 99999;
  text-align: center;
  border-top: solid 5px #f5153f;
  
  
  &__zavrit {
    position: absolute; display: block; right: 16px; top: 30px;
    width: 28px; height: 28px; 
    @include image("zavrit-error.svg", 22px, 22px);
  }
  
  &__firstbox {width: 32%;  display: inline-block; float: left;
  p { @include f(19, 1.3); text-align: left; color: #f5153f; font-weight: 600; }
  }
  
  &__secondbox { width: 68%;  display: inline-block; float: left; padding: 0 10% 0 4%; 
  p { @include f(14, 1.2); text-align: left;}
  }
  }