

.toxin-footer-logo-img{
  width:150px;
}

.toxin-footer-logo{
  margin-bottom: 50px;
}

.toxin-footer-nazev{
  font-size: 26px;
  padding: 30px;
}

.toxin-footer-telephone-img-div{
  background-color: white;
  border-radius: 50px;
  padding: 15px;
  padding-top: 8px;
  width:15px;
  height: 20px;
margin-left:47%;
margin-top: 30px;
margin-bottom: 5px;
}
.toxin-footer-telephone-img{
width: 40px;
}

.toxin-footer-telephone-number{
  width:98%;
  margin-right: 20px;
  margin-bottom: 15px;
}



.toxin-footer-email-img-div{
  background-color: white;
  border-radius: 50px;
  padding: 15px;
  padding-top: 8px;
  width:15px;
  height: 20px;
margin-left:47%;
margin-top: 30px;
margin-bottom: 5px;
}
.toxin-footer-email-img{
width: 40px;
}

.toxin-footer-email-text{
  width:98%;
  margin-right: 20px;
  margin-bottom: 15px;
}


.toxin-footer-icons{
  width:97%;
  margin-top: 50px;
}


.uk-navbar-brand{
  width: 150px !important;
    margin-top: -68px !important;
}

.tm-footer{
  background-color: #090b51 !important;
  font-size: 13px !important;
}
.uk-navbar-nav>li>a{
  color: #27348b ;
  text-transform: none !important;
}
.uk-navbar-nav>li>a:hover{
  color: #000a4d;
}
.navbar-toxin-menu-button{
  background-color: #27348B !important;
  height: 100%;
  color: white !important;
  height: 50px !important;
  margin-top: 15px !important;
  line-height: 52px !important;
  border-radius: 30px;
  padding: 0 25px !important;
  margin-left: 30px;
}

.navbar-toxin-menu-button:hover{
  background-color: #182894 !important;
  height: 100%;
  color: white !important;
  height: 40px !important;
  margin-top: 15px !important;
  line-height: 41px !important;
  border-radius: 30px;
  padding: 0 25px !important;
  margin-left: 30px;
}


.uk-article-title{
  font-size: 20px !important;
  line-height: 24px !important;
  font-weight: 700 !important;
  color: #27348B !important;
  margin-top: -3px;
  margin-bottom: -10px;

}

.uk-article-meta{
  font-size: 11px !important;
  line-height: 0px !important;
  margin-bottom: 30px;
}

.uk-margin{
  margin-top: -17px !important;
  /*  margin-bottom: -15px !important; */
}



/*.uk-margin iframe { border: solid 2px red;} */


.pokus { 
  border: solid 2px red !important;
}



iframe {  width:100%!important;
}

@media (min-width: 768px) {
  iframe {
  width:690px !important;
}
}






.uk-article-flex{
  display: flex !important;
}

.uk-article-left{
  width:25%;
}

.uk-article-right{
  width:70%;
  margin-left: 5%;
}

.uk-flex{
  display: flex !important;
}

@media (min-width: 768px){
  .uk-article+.uk-article {
   margin-top: 20px !important;
   padding-top: 50px !important;
  }
}

.uk-article-title a:hover{
  color: black;
}


.protectedEmail:before {
    content: "" attr(title) !important;
    margin-left: -15px;
}

.active{
  font-weight: bold !important;
}
