@charset "UTF-8";
/*
Theme Name: TOXIN 2018
Version: 2018/1
Design: STUDIO STOJKOV
Coding: STUDIO STOJKOV - Ales Skotnica, http://www.studiostojkov.com

*/
/* <-------------- RESET   */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

div {
  margin: 0;
  padding: 0;
}

aside,
header,
section,
nav,
footer {
  display: block;
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
  padding: 0;
}

hr,
.n {
  display: none !important;
}

/* <-------------- LESS  */
/* <---------- font */
/*		@fontfamily-default: 		'canada-type-gibson', sans-serif;


		.font-regular 		{ font-family: @fontfamily-default; font-weight: 400; }
		.font-bold 			{ font-family: @fontfamily-default; font-weight: 600; }
*/
.font-thin {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}

.font-light {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.font-regular {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.font-medium {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.font-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/* <---------- barvy */
/* <---------- ruzne vychozi hodnoty */
/* <---------- position absolute centered */
.position-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-centered-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.position-centered-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* <---------- border radius */
/* <---------- animace */
.animationlink {
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

/* <-------------- FONTS  */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?c2lx53");
  src: url("../fonts/icomoon.eot?c2lx53#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?c2lx53") format("truetype"), url("../fonts/icomoon.woff?c2lx53") format("woff"), url("../fonts/icomoon.svg?c2lx53#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* <-------------- ICONS  */
[class^=icon-],
[class*=" icon-"],
.slick-dots .slick-active button:before {
  font-family: "icomoon" !important;
  speak: none !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.icon-slashes-left:before {
  content: "";
}

.icon-slashes-right:before {
  content: "";
}

.icon-scroll:before {
  content: "";
}

.icon-x-line:before {
  content: "";
}

.icon-x:before {
  content: "";
}

.icon-small-business:before {
  content: "";
}

.icon-institution:before {
  content: "";
}

.icon-big-business:before {
  content: "";
}

.icon-play-circle:before {
  content: "";
}

.icon-stop-circle:before {
  content: "";
}

.icon-right-circle:before {
  content: "";
}

.icon-left-circle:before {
  content: "";
}

.icon-down-circle:before {
  content: "";
}

.icon-up-circle:before {
  content: "";
}

.icon-cross-circle:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-right:before {
  content: "";
}

.icon-left:before {
  content: "";
}

.icon-down:before {
  content: "";
}

.icon-up:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-cross:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-link:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-mute:before {
  content: "";
}

.icon-volume:before {
  content: "";
}

.icon-network:before {
  content: "";
}

.icon-tv:before {
  content: "";
}

.icon-location:before {
  content: "";
}

.icon-map-marker:before {
  content: "";
}

.icon-telephone:before {
  content: "";
}

.icon-group:before {
  content: "";
}

.icon-users:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-profile:before {
  content: "";
}

.icon-license:before {
  content: "";
}

.icon-clipboard-user:before {
  content: "";
}

.icon-paperclip:before {
  content: "";
}

.icon-envelope:before {
  content: "";
}

.icon-at:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-factory:before {
  content: "";
}

.icon-lock:before {
  content: "";
}

.icon-pencil:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-file-xls:before {
  content: "";
}

.icon-file-doc:before {
  content: "";
}

.icon-file-pdf:before {
  content: "";
}

.icon-vimeo:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-google-plus:before {
  content: "";
}

.icon-file-ppt:before {
  content: "";
}

.icon-file-zip:before {
  content: "";
}

.icon-file-jpg:before {
  content: "";
}

.icon-file:before {
  content: "";
}

/* <-------------- HTML & BODY  */
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #293686;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.045em;
  background: #FFFFFF;
  width: 100%;
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 177px 0 0 0;
  font-style: normal;
  text-align: center;
  position: relative;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

#wpadminbar {
  display: none !important;
}

.body-modal,
.body-noscroll {
  overflow: hidden;
}

/* <-------------- ODKAZY */
a,
a:link,
a:visited {
  color: #293686;
  text-decoration: underline;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

a:hover,
a:focus {
  color: #000000;
  text-decoration: none;
}

a:active {
  color: #000000;
  text-decoration: none;
}

a img,
a:link img,
a:visited img {
  border: none;
  text-decoration: none;
}

/* <-------------- DEFAULT BOX MODEL */
.wrapper {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-align: left;
}

.grid {
  width: 100%;
  clear: both;
}

.wrapper:after,
.grid:after,
.frm-group:after,
.frm:after,
.frm-item:after,
.mainnav:after,
.content:after,
.mainnav-sub:after,
.maximus-industry-container:after,
.section-support-content-container:after,
.products-nav ul:after,
.maximus-industry-nav ul:after {
  content: "";
  display: table;
  clear: both;
}

/* <-- responzivni sloupce --> */
[class*=col-] {
  float: left;
  padding-right: 40px !important;
}

.col-1-1 {
  width: 100%;
}

.col-2-3,
.col-8-12 {
  width: 66.66%;
}

.col-1-2,
.col-6-12 {
  width: 50%;
}

.col-1-3,
.col-4-12 {
  width: 33.33%;
}

.col-1-4,
.col-3-12 {
  width: 25%;
}

.col-1-5 {
  width: 20%;
}

.col-1-6,
.col-2-12 {
  width: 16.667%;
}

.col-1-7 {
  width: 14.28%;
}

.col-1-8 {
  width: 12.5%;
}

.col-1-9 {
  width: 11.1%;
}

.col-1-10 {
  width: 10%;
}

.col-1-11 {
  width: 9.09%;
}

.col-1-12 {
  width: 8.33%;
}

.col-11-12 {
  width: 91.66%;
}

.col-10-12 {
  width: 83.333%;
}

.col-9-12 {
  width: 75%;
}

.col-5-12 {
  width: 41.66%;
}

.col-7-12 {
  width: 58.33%;
}

.txtcenter {
  text-align: center !important;
}

.txtright {
  text-align: right !important;
}

.txtleft {
  text-align: left !important;
}

.txtjustify {
  text-align: justify !important;
}

/* <-------------- PAGE PRELOADER */
#loadpage {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFFFFF;
  z-index: 999999999999999;
}

#loadpage em {
  display: block;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loadpage em img {
  width: 50px;
  height: auto;
}

/* <-------------- SLICK */
.slick,
.slick-slide {
  outline: none !important;
}

.slider-container {
  position: relative;
}

.slick-dots {
  width: auto !important;
  padding: 0;
  line-height: 1em;
  margin: 0;
  list-style: none;
}

.slick-dots li {
  display: inline;
}

.slick-dots button {
  display: inline-block;
  text-align: left;
  text-indent: -6000px;
  border: none;
  width: 15px !important;
  height: 15px;
  outline: none;
  padding: 0;
  margin: 0 5px;
  background: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.slick-dots button:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.slick-dots button:hover:before {
  background: #ffffff;
}

.slick-dots .slick-active button:before {
  content: "";
  text-indent: 0;
  width: 15px;
  height: auto;
  boder-radius: 0px;
  background: none !important;
  font-size: 15px;
  color: #FFFFFF;
}

/* <-------------- TLACITKA*/
.button,
.button:visited {
  display: inline-block;
  line-height: 1em;
  padding: 10px 20px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #1b2458;
  color: #FFFFFF !important;
  border: none;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none !important;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.button:hover {
  background: #000000;
}

.button i {
  font-size: 20px;
  vertical-align: -2px;
}

.button-white,
.button-white:visited {
  background: #FFFFFF;
  color: #293686 !important;
  border: solid 1px #293686;
}

.button-white:hover {
  background: #000000;
  color: #FFFFFF !important;
  border: solid 1px #000000;
}

.button-big {
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/*
button-white button-big
*/
/* <-------------- FORMULARE */
::-webkit-input-placeholder {
  color: #293686;
}

::-moz-placeholder {
  color: #293686;
}

:-ms-input-placeholder {
  color: #293686;
}

input:-moz-placeholder {
  color: #293686;
}

.frm-group {
  margin: 0 0 15px 0;
}

.frm-label {
  display: none;
}

.frm input[type=text],
.frm input[type=password],
.frm input[type=email],
.frm input[type=number],
.frm input[type=tel],
.frm input[type=date],
.frm textarea {
  width: 100%;
  padding: 7px 10px 7px 40px;
  border: 1px solid #FFFFFF;
  outline: none !important;
  background: #FFFFFF;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #293686;
  font-size: 14px;
  position: relative;
}

.frm input[type=text]:focus,
.frm input[type=password]:focus,
.frm input[type=email]:focus,
.frm input[type=number]:focus,
.frm input[type=tel]:focus,
.frm input[type=date]:focus,
.frm textarea:focus {
  border-color: #293686;
  background: #FFFFFF;
  -moz-transition: all 600ms ease;
  -webkit-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.frm-item {
  position: relative;
}

.frm-item i[class^=icon-],
.frm-item i[class*=" icon-"] {
  position: absolute;
  top: 6px;
  left: 5px;
  font-size: 20px;
  text-align: center;
  width: 30px;
  color: #293686;
}

.frm label.error {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 1em;
  padding: 5px;
  background: #d60707;
  color: #FFFFFF;
  display: block;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
}

.error::-webkit-input-placeholder {
  color: #1b2458;
}

.error::-moz-placeholder {
  color: #1b2458;
}

.error:-ms-input-placeholder {
  color: #1b2458;
}

input.error:-moz-placeholder {
  color: #1b2458;
}

.frm input.error[type=text],
.frm input.error[type=password],
.frm input.error[type=email],
.frm input.error[type=number],
.frm input.error[type=tel],
.frm input.error[type=date],
.frm textarea.error {
  border-color: #1b2458;
  color: #1b2458;
}

/* <-------------- HLAVICKA */
.header-toxin {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 79px 30px 0 30px;
  border-top: solid 12px #293686;
  background: #FFFFFF;
  z-index: 99999999;
}

.header-fixed {
  position: fixed;
  top: -200px;
}

.logo {
  display: block;
  width: 322px;
  padding: 0 91px 34px 91px;
  float: left;
  margin: 0;
  line-height: 1em;
  position: relative;
}

.logo a {
  display: inline-block;
  width: 140px;
  height: 47px;
  overflow: hidden;
  text-indent: -6000px;
  background: url(../img/toxin-logo-small.svg) no-repeat;
  background-size: 140px auto;
}

.logo-decription {
  width: 190px;
  position: absolute;
  top: 5px;
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  left: -142px;
}

.logo:after {
  display: none;
}

.logo:before {
  display: none;
}

.header-fixed .logo-decription {
  display: none;
}

.header-fixed .logo:before {
  display: none;
}

.header-fixed .logo {
  padding: 0 91px 24px 0;
}

.header-fixed.header-toxin {
  padding-top: 24px;
}

/* <-------------- TOP MENU */
.header-menu {
  display: flex;
  flex-flow: row;
  position: absolute;
  top: 5px;
  left: 380px;
  right: 0;
}

.header-icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-icons svg {
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.header-icons svg .dark-blue {
  fill: #293686;
}

.header-icons svg .white {
  fill: #FFFFFF;
}

.header-menu-wrapper {
  display: none !important;
}

.mainnav {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainnav li {
  display: block;
  width: auto;
  margin-right: 70px;
  float: left;
}

.mainnav li:last-child {
  margin-right: 0 !important;
}

.mainnav li.smalllink {
  height: auto;
  font-size: 16px;
}

.mainnav a {
  text-decoration: none !important;
}

.menubutton {
  width: auto;
  float: right;
  margin-top: 5px;
  font-size: 40px;
  cursor: pointer;
  color: #293686;
}

.menubutton,
.menuclose {
  display: none;
}

.mainnav-sub-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -95px;
}

.mainnav-sub {
  display: block;
  margin: 0;
  padding: 20px 0 0 0;
  list-style: none;
  text-align: left;
}

.mainnav-sub li {
  display: block;
  width: auto;
  margin-right: 70px;
  float: left;
}

.mainnav-sub li:last-child {
  margin-right: 0 !important;
}

.mainnav-sub a,
.mainnav-sub a:visited {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  padding: 7px 0 0 0;
}

.mainnav-sub a:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.buttonlink {
  width: auto !important;
}

.buttonlink a,
.buttonlink a:visited {
  display: inline-block;
  line-height: 1em;
  padding: 10px 20px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: #FFFFFF;
  color: #293686 !important;
  border: none;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none !important;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.buttonlink a:hover {
  background: #293686;
  color: #FFFFFF !important;
}

.mainnav-sub-container {
  display: none;
}

.section-main {
  padding-left: 30px;
  padding-right: 30px;
}

/* <-------------- TOP SLIDE */
.topslide-container {
  display: block;
  width: 100%;
  padding: 0;
  background: #293686;
  position: relative;
  color: #FFFFFF;
  overflow: hidden;
}

.topslide-item .wrapper {
  /*padding-top: 18%; padding-bottom: 18%;*/
}

.top-slide-img {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: calc(120%) auto;
}

.top-slide-img-dot {
  width: 100%;
  height: auto;
}

.topslide-container {
  position: relative;
  overflow: hidden;
}

.topslide-dots {
  position: absolute;
  right: 30px;
  left: 30px;
  bottom: 50px;
}

.topslide-dots .wrapper {
  text-align: right;
}

.topslide-container .slick-dots {
  display: block;
  width: 25px !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.topslide-container .slick-dots button {
  margin-top: 5px;
  margin-bottom: 5px;
}

.topslide-content-ani {
  font-size: 28px;
  line-height: 1.2em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 150px;
  right: 0;
}

.topslide-content-ani i {
  vertical-align: -7px;
}

.topslide-content {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 30px;
}

.topslide-content-container {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.topslide-content-ani {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.topslide-content-ani-block {
  /*padding-left: 195px; */
  line-height: 1.2em;
  position: relative;
}

.topslide-content-ani-block i.icon-slashes-left {
  position: absolute;
  top: 7px;
  left: 140px;
}

.top-slide-scroll-container {
  display: block;
  z-index: 9988;
  position: absolute;
  right: 30px;
  left: 30px;
  bottom: 30px;
}

a.top-slide-scroll-button,
a.top-slide-scroll-button:visited {
  display: inline-block;
  width: 48px;
  height: 80px;
  margin-left: 140px;
  position: relative;
  color: #FFFFFF;
  font-size: 68px;
  text-decoration: none;
  outline: none !important;
}

a.top-slide-scroll-button:hover {
  font-size: 78px;
}

a.top-slide-scroll-button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btnslideplayvideo,
a.btnslideplayvideo,
a.btnslideplayvideo:visited {
  display: inline;
  text-decoration: none !important;
  color: #FFFFFF;
  padding: 15px 30px 15px 70px;
  border: solid 2px #FFFFFF;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0);
  outline: none !important;
  position: relative;
}

.btnslideplayvideo i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px !important;
  font-size: 50px;
}

.btnslideplayvideo:hover,
a.btnslideplayvideo:hover {
  color: #293686 !important;
  background: rgba(255, 255, 255, 0.9);
}

/*
<a href="#videoslide01" class="btnslideplayvideo"><b><i class="icon-play-circle"></i></b> Přehrát video</a>
*/
/* <-------------- PATA */
.toxin-footer {
  width: 100%;
  padding: 70px 30px 0 30px;
  background: #293686 url(../img/footer.jpg) no-repeat top center;
  background-size: cover;
  color: #FFFFFF;
}

.footer-content {
  width: 66%;
  padding: 0 20px 50px 0;
  float: left;
}

.footer-content address {
  font-style: normal;
}

.footer-address {
  width: 45%;
  float: left;
  padding: 70px 0 0 0;
  background: url(../img/toxin-logo-small-white.svg) no-repeat;
  background-size: auto 50px;
}

.footer-contacts {
  width: 45%;
  float: right;
  font-size: 24px;
  line-height: 1.2em;
  padding: 30px 0 0 0;
}

.footer-firmid {
  padding: 50px 0;
  font-size: 14px;
}

.footer-copy {
  padding: 50px 0 0 0;
  font-size: 12px;
  line-height: 1.1em;
  position: relative;
}

.footer-copy:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background: #FFFFFF;
}

.footer-form {
  width: 33%;
  float: right;
}

.footer-form-container {
  padding: 20px 20px 150px 20px;
  background: #1b2458;
}

.footer-form-container h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

/* <-------------- OBSAH */
.content h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3em;
  color: #293686;
}

.content h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 1.3em;
  color: #293686;
}

/* <-------------- SEKCE O SYSTEMU */
.section-main-about-systems {
  padding: 80px 30px !important;
  /* overflow: hidden; */
}

#maximus .section-main-about-systems {
  padding: 80px 30px 0 30px !important;
  /* overflow: hidden; */
}

.about-system-content {
  width: 34%;
  float: left;
}

.about-system-img {
  width: 59%;
  float: right;
  padding: 100px 0 0 0;
}

.about-system-img img {
  width: 100%;
  height: auto;
}

/* <-------------- O SPOLECNOSTI */
.section-company {
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 80px 30px;
  position: relative;
}

.section-company .content {
  display: block;
  overflow: hidden;
  width: 100%;
  z-index: 99;
}

.section-company-content {
  display: block;
  width: 50%;
  float: left;
  z-index: 99;
}

.section-company-oblique {
  display: block;
  position: absolute;
  top: -110px;
  bottom: -80px;
  width: 2800px;
  right: -2050px;
  background: url(../img/oblique-support.jpg) no-repeat left 50%;
  background-size: auto calc(150%);
  z-index: 0;
}

/* <-------------- PODPORA */
.section-support {
  display: block;
  overflow: hidden;
  padding: 80px 30px;
  background: url(../img/bg-company.jpg) no-repeat top left;
  background-size: auto calc(150%);
  color: #FFFFFF;
}

.section-support .content h2,
.section-support .content h3 {
  display: block;
  color: #FFFFFF;
}

.section-support .content {
  display: block;
  width: 50%;
  float: left;
  z-index: 99;
}

.section-support-map {
  width: 400px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.section-support-map img,
.section-support-map svg {
  width: 100%;
  height: auto;
}

.section-support-oblique {
  position: absolute;
  top: -80px;
  bottom: -80px;
  width: 1300px;
  right: -900px;
  background: url(../img/oblique-white.png) no-repeat left 50%;
  background-size: auto 100%;
}

/* <-------------- CITACE */
.section-citation {
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 80px 30px;
  position: relative;
}

.section-citation .content {
  display: block;
  overflow: hidden;
  width: 100%;
  z-index: 99;
}

.section-citation-content {
  display: block;
  width: 50%;
  float: left;
  z-index: 99;
}

.section-citation-oblique {
  display: block;
  position: absolute;
  top: -110px;
  bottom: -80px;
  width: 2800px;
  right: -2150px;
  background-repeat: no-repeat;
  background-position: left 50%;
  background-size: auto calc(150%);
  z-index: 0;
}

/* <-------------- SEKCE MAXIMUS */
.section-maximus {
  padding-top: 0;
  padding-bottom: 80px;
}

.about-system-content {
  width: 34%;
  float: left;
}

.about-system-content-big {
  width: 100%;
  float: none;
}

.maximus-logo {
  padding: 25px 0;
  text-align: right;
}

.maximus-logo img {
  width: 187px;
  height: auto;
}

.section-blue-content {
  overflow: hidden;
  padding: 80px 30px;
  background: url(../img/bg-maximus-about.jpg) no-repeat top left;
  background-size: calc(150%) auto;
  color: #FFFFFF;
}

.section-blue-content .content h2,
.section-blue-content .content h3 {
  color: #FFFFFF;
}

.blue-content-content {
  display: block;
  width: 54%;
  float: left;
  z-index: 99;
  position: relative;
}

.blue-content-oblique {
  position: absolute;
  top: -80px;
  bottom: -80px;
  width: 1300px;
  right: -900px;
  background: url(../img/oblique-white.png) no-repeat left 50%;
  background-size: auto 100%;
}

.blue-content-control {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.blue-content-control img,
.blue-content-control svg {
  width: 100%;
  height: auto;
}

.blue-content-control-rotate {
  -webkit-animation: spinObject 28s infinite linear;
  -moz-animation: spinObject 28s infinite linear;
  -o-animation: spinObject 28s infinite linear;
  -ms-animation: spinObject 28s infinite linear;
  animation: spinObject 28s infinite linear;
  display: block;
}

.section-maximus-industry {
  padding: 80px 30px;
}

.section-maximus-industry-title {
  padding-right: 50%;
}

.maximus-industry-container {
  padding-top: 30px;
}

.maximus-industry-item {
  width: 33%;
  float: left;
  padding-right: 60px;
}

/*.content .maximus-industry-item h3 { font-size: 28px; margin: 0; padding: 0; height: 115px; }*/
.content .maximus-industry-item h3 em {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  position: relative;
}

.content .maximus-industry-item h3 em:before {
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 1px;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #293686;
  opacity: 0;
}

.maximus-industry-item:hover h3 em:before {
  width: 100%;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 1;
}

.maximus-industry-item-icon {
  font-size: 90px;
  margin-bottom: 25px;
  height: 110px;
  position: relative;
}

.maximus-industry-item-icon i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.maximus-industry-item:hover .maximus-industry-item-icon i {
  font-size: 110px;
  left: 0px;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.maximus-industry-nav ul {
  margin: 80px 0 0 0;
  padding: 0;
  list-style: none;
}

.maximus-industry-nav li {
  width: 33%;
  float: left;
  /*padding-right: 60px;*/
  cursor: pointer;
}

.maximus-industry-nav li.noactive {
  opacity: 0.25;
}

.content .maximus-industry-nav strong {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.3em;
  display: block;
  font-size: 28px;
  margin: 0;
  padding: 0;
  height: 85px;
}

.maximus-industry-nav-ico {
  display: block;
  font-size: 90px;
  margin-bottom: 25px;
  height: 110px;
  position: relative;
}

.maximus-industry-nav-ico i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.maximus-industry-nav li:hover .maximus-industry-nav-ico i {
  font-size: 110px;
  left: 0px;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.maximus-industry-nav li.active .maximus-industry-nav-ico i {
  font-size: 110px;
  left: 0px;
}

.content .maximus-industry-item h3.maximus-industry-item-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.3em;
  font-size: 28px;
  margin: 0;
  padding: 0 0 20px 0;
}

.maximus-industry-item-top {
  display: none;
}

.maximus-industry-item-container {
  padding: 30px 0 80px 0;
}

.maximus-industry-item-container {
  display: none;
}

.maximus-industry-item-container {
  border-top: solid 1px #293686;
  position: relative;
}

.maximus-industry-item-container:before {
  content: "";
  display: block;
  position: absolute;
  left: 33%;
  top: -10px;
  margin-left: 45px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #293686 transparent;
}

.section-maximus-industry #maximus-a.maximus-industry-item-container:before {
  left: 0;
}

.section-maximus-industry #maximus-c.maximus-industry-item-container:before {
  left: 66%;
}

/*





					<?php 					if( have_rows('pixyo_service_content_slp_repeater') ): 
												$i = 1;
												while( have_rows('pixyo_service_content_slp_repeater') ): the_row(); ?>
											<div id="<?php echo get_sub_field('pixyo_service_content_slp_item_id')?>" class="maximus-industry-item-container" >
												<div class="maximus-industry-item-top">
												<h3 class="maximus-industry-item-title"><?php echo get_sub_field('pixyo_service_content_slp_item_title')?><?php if ( get_sub_field('pixyo_service_content_slp_item_subtitle') != '' ): ?><br><em><?php echo get_sub_field('pixyo_service_content_slp_item_subtitle')?></em><?php endif; ?></h3>
												<div class="maximus-industry-item-icon"><i class="<?php echo get_sub_field('pixyo_service_content_slp_item_icon')?>"></i></div>
												</div>
												<div class="maximus-industry-item-content">
													<?php echo get_sub_field('pixyo_service_content_slp_item_content')?>
												</div>
											</div

*/
/* <-------------- HOMEVIDEO */
.videofixed {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  background: rgba(255, 255, 255, 0.9);
}

.videofixed-button-close,
.videofixed-button-close-vimeo {
  display: inline-block;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #293686;
  color: #FFFFFF;
  border-radius: 0 0 10px 10px;
  padding: 5px 30px;
  cursor: pointer;
}

.videofixed-button-close i,
.videofixed-button-close-vimeo i {
  font-size: 21px;
  vertical-align: -2px;
}

.video-block-full {
  position: fixed;
  padding: 30px;
  width: 100%;
  max-width: 1100px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.videofixed-tool {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #293686;
  color: #FFFFFF;
  border-radius: 10px 10px 0 0;
  padding: 8px 30px 5px 30px;
  font-size: 24px;
}

.videofixed-tool i {
  cursor: pointer;
}

.videofixed .videofixed-button-close,
.videofixed .videofixed-button-close-vimeo {
  top: -100px;
  opacity: 0;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.videofixed .videofixed-tool {
  bottom: -100px;
  opacity: 0;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.videofixed:hover .videofixed-button-close,
.videofixed:hover .videofixed-button-close-vimeo {
  top: 0px;
  opacity: 1;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.videofixed:hover .videofixed-tool {
  bottom: 0px;
  opacity: 1;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.videofixed {
  display: none;
}

.videofullcontainer {
  position: fixed;
  padding: 30px;
  width: 100%;
  max-width: 1100px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* <-------------- VIDEO */
embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
progress,
video {
  vertical-align: baseline;
}

.video-wrapper {
  display: block;
  /* padding-bottom: 70%; transition: top 0.3s linear 0s; position: relative; */
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.video-block {
  display: block !important;
  /* position: absolute; top: 0%; left: 0%; height: 100%; width: 100%; object-fit: cover; */
  width: 100%;
  height: auto;
}

.playiosbutton {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

#videopicture {
  display: none;
}

.video-block-full {
  /* position: fixed !important;
          top: 50% !important;
          left: 50% !important;
          min-width: 100% !important;
          min-height: 100% !important;
          width: auto !important;
          height: auto !important;
          transform: translateX(-50%) translateY(-50%); */
}

/* <-------------- SVG CONTROL... */
.svg-sort-button {
  cursor: pointer;
}

.sort-button-bg {
  fill: url(#sort-button-bg-gradient);
}

.sort-button-x-bg {
  opacity: 0;
  fill: #FFFFFF;
}

.sort-button-middle {
  fill: #16207B;
}

.sort-button-shadow {
  opacity: 0.2;
  enable-background: new;
}

.sort-button-white {
  fill: #FFFFFF;
}

.sort-button-main-bg {
  fill: #CCCCCC;
}

.sort-path-to-text {
  fill: none;
}

.sort-text {
  fill: #606060;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.svg-sort-button:hover .sort-button-main-bg {
  fill: #606060;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.svg-sort-button:hover .sort-text {
  fill: #FFFFFF;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.svg-sort-button-current .sort-button-main-bg {
  fill: #16207B !important;
}

.svg-sort-button-current .sort-text {
  fill: #FFFFFF !important;
}

.svg-sort-button-current .sort-button-middle {
  fill: #FFFFFF !important;
}

#button-x:hover .sort-button-x-bg {
  opacity: 1;
  fill: #606060;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

#button-x:hover .sort-button-middle {
  fill: #FFFFFF;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

/* <-------------- PRODUCTY */
.products-nav {
  background: #293686 url(../img/maximus-nav.jpg) no-repeat 50% 50%;
  background-size: cover;
  padding: 0 30px;
  /* border-top: solid 1px @color-blue;  border-bottom: solid 1px @color-blue; */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 999;
}

.products-nav p {
  margin: 0;
  padding: 0;
  list-style: none;
  display: table;
}

.products-nav li {
  margin: 0;
  padding: 0;
  display: inline;
}

.products-nav a,
.products-nav a:visited {
  width: 20%;
  display: table-cell;
  padding: 25px 25px;
  color: #FFFFFF;
  text-decoration: none !important;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.products-nav a.current,
.products-nav a.current:visited {
  color: #293686;
  background: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.section-product {
  display: none;
}

.section-product.current {
  display: block;
}

.section-default-logo {
  width: auto;
  position: absolute;
  right: 0;
  bottom: -40px;
}

.section-default-logo img {
  width: 100%;
  height: auto;
  max-width: 150px;
}

#maximus .section-default-logo {
  bottom: -150px;
}

/* <-----------------------------------------------------------------------------------------------------------------> */
/* <-------------- R E S P O N S I V E ------------------------------------------------------------------------------> */
/* <-----------------------------------------------------------------------------------------------------------------> */
@media handheld, only screen and (max-width: 1800px) {
  .logo:before {
    bottom: -150px;
    left: 60px;
    border-width: 150px 97px 0 97px;
  }
}
@media handheld, only screen and (max-width: 1485px) {
  .logo-decription {
    display: none;
  }
}
@media handheld, only screen and (max-width: 1260px) {
  .logo:before {
    bottom: -100px;
    left: 94px;
    border-width: 100px 65px 0 65px;
  }

  .topslide-content-ani {
    font-size: 28px;
  }
}
@media handheld, only screen and (max-width: 1260px) {
  .mainnav li,
.mainnav-sub li {
    margin-right: 40px;
  }

  .mainnav li:last-child,
.mainnav-sub li:last-child {
    margin-right: 0 !important;
  }
}
@media handheld, only screen and (max-width: 1200px) {
  .header-menu {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
  }

  .header-menu-container {
    display: none;
  }

  .mainnav-sub-container {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }

  .mainnav,
.mainnav-sub {
    display: block !important;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    float: none;
    overflow: hidden;
  }

  .mainnav li,
.mainnav-sub li {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    float: none;
    border-top: solid 1px #293686;
  }

  .mainnav li:first-child,
.mainnav-sub li.buttonlink {
    border-top: none;
  }

  .mainnav a,
.mainnav a:visited,
.mainnav-sub a,
.mainnav-sub a:visited {
    display: block;
    color: #293686;
    padding: 15px 5px !important;
    background: none;
    text-decoration: none !important;
    text-align: center;
  }

  .mainnav a:hover,
.mainnav-sub a:hover {
    color: #FFFFFF;
    background: #293686;
  }

  .mainnav-sub li.buttonlink {
    padding-top: 30px;
  }

  .mainnav-sub li.buttonlink a,
.mainnav-sub li.buttonlink a:visited {
    color: #FFFFFF !important;
    padding: 15px 10px !important;
    background: #293686;
  }

  .mainnav-sub li.buttonlink a:hover {
    background: #000000;
  }

  .section-citation-content {
    width: 50%;
  }

  .section-citation-oblique {
    right: -2150px;
  }
}
@media handheld, only screen and (max-width: 1156px) {
  .mainnav li,
.mainnav-sub li {
    margin-right: 40px;
  }
}
@media handheld, only screen and (max-width: 1180px) {
  .maximus-industry-item h3 em {
    font-size: 24px;
  }
}
@media handheld, only screen and (max-width: 1130px) {
  .maximus-industry-item h3 em {
    font-size: 20px;
  }
}
@media handheld, only screen and (max-width: 1125px) {
  .mainnav li,
.mainnav-sub li {
    margin-right: 20px;
  }
}
@media handheld, only screen and (max-width: 1090px) {
  .top-slide-img {
    background-repeat: no-repeat;
    background-position: -200px 0px;
    background-size: auto 100%;
  }

  .top-slide-img-dot {
    width: auto;
    height: 550px;
  }
}
@media handheld, only screen and (max-width: 970px) {
  .wrapper {
    width: 100% !important;
    min-width: 100% !important;
  }

  .about-system-content {
    width: 100%;
    float: none;
  }

  .about-system-img {
    width: 100%;
    float: none;
    padding: 0 0 60px 0;
  }

  .section-blue-content {
    width: 100%;
    float: none;
    background-size: cover !important;
  }

  .blue-content-content {
    width: 100%;
    float: none;
  }

  .blue-content-oblique {
    right: -1250px;
  }

  .blue-content-control {
    display: none;
  }

  .maximus-industry-item {
    width: 100%;
    float: none;
    padding-right: 0px;
    padding-bottom: 60px;
    padding-top: 60px;
    border-bottom: solid 1px #AAAAAA;
  }

  .content .maximus-industry-item:first-child {
    padding-top: 0px;
  }

  .content .maximus-industry-item:last-child {
    padding-bottom: 0px;
    border-bottom: none;
  }

  .content .maximus-industry-item h3 {
    margin: 0 0 25px 0;
    padding: 0;
    height: auto;
  }

  .section-maximus-industry-title {
    padding-right: 33%;
  }

  .maximus-industry-item h3 em {
    font-size: 28px;
  }

  .maximus-industry-item h3 em:before {
    display: none !important;
  }

  .maximus-industry-item:hover .maximus-industry-item-icon i {
    font-size: 90px;
  }
}
@media handheld, only screen and (max-width: 950px) {
  .section-citation-content {
    width: 50%;
  }

  .section-citation-oblique {
    right: -2250px;
  }
}
@media handheld, only screen and (max-width: 850px) {
  [class*=col-] {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px !important;
  }

  .footer-content {
    width: 100%;
    padding: 30px 0;
    float: none;
  }

  .footer-form {
    width: 100%;
    float: none;
  }

  .footer-form-container {
    padding: 30px 20px;
  }

  .section-company-oblique {
    top: auto;
    bottom: -110px;
    right: -2400px;
    height: 768px;
  }

  .section-company-content {
    width: 60%;
  }

  .section-support .content {
    width: 60%;
    float: left;
  }

  .section-support-map {
    display: none;
  }

  .section-support-oblique {
    top: auto;
    bottom: -110px;
    height: 768px;
    right: -1050px;
  }

  .products-nav a {
    padding: 25px 15px;
    font-size: 16px;
  }
}
@media handheld, only screen and (max-width: 800px) {
  .section-citation-content {
    width: 50%;
  }

  .section-citation-oblique {
    right: -2350px;
  }
}
@media handheld, only screen and (max-width: 767px) {
  body {
    padding-top: 112px;
  }

  .header-toxin {
    padding: 24px 30px 0 30px;
  }

  .logo {
    width: 200px;
    padding: 0 60px 24px 0;
  }

  .logo a {
    display: inline-block;
    width: 140px;
    height: 47px;
    overflow: hidden;
    text-indent: -6000px;
    background: url(../img/toxin-logo-small.svg) no-repeat;
    background-size: 140px auto;
  }

  .logo:before {
    display: none;
  }

  .header-menu {
    left: 250px;
  }

  .header-menu {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: auto;
    float: right;
    margin-top: 5px;
  }

  .header-icons {
    margin-right: 2rem;
  }

  .topslide-content-ani-block {
    padding-left: 55px;
  }

  .topslide-content-ani-block i.icon-slashes-left {
    position: absolute;
    top: 3px;
    left: 0px;
  }

  .topslide-container .slick-dots {
    right: 5px;
  }

  a.top-slide-scroll-button {
    margin-left: 45px !important;
  }

  .section-maximus-industry-title {
    padding-right: 0%;
  }

  #maximus .section-default-logo {
    bottom: -40px;
  }

  .videofixed .videofixed-button-close,
.videofixed .videofixed-button-close-vimeo {
    top: 0px !important;
    opacity: 1 !important;
  }

  .videofixed .videofixed-tool {
    bottom: 0px !important;
    opacity: 1 !important;
  }

  .maximus-industry-nav {
    display: none;
  }

  .maximus-industry-item-top {
    display: block;
    cursor: pointer;
  }

  .maximus-industry-item-container {
    padding: 60px 0;
  }

  .maximus-industry-item-container {
    display: block;
  }

  .maximus-industry-item-container {
    border-top: none;
    border-bottom: solid 1px #293686;
  }

  .section-maximus-industry .maximus-industry-item-container:last-child {
    border-bottom: none;
  }

  .maximus-industry-item-container:before {
    display: none;
  }

  .maximus-industry-item-content {
    display: none;
  }
}
@media handheld, only screen and (max-width: 660px) {
  .top-slide-img-dot {
    width: auto;
    height: 450px;
  }

  .topslide-content-ani {
    font-size: 18px;
  }

  .topslide-content-ani-block {
    padding-left: 35px;
  }

  a.top-slide-scroll-button {
    margin-left: 25px !important;
  }

  .footer-address {
    width: 100%;
    float: none;
  }

  .footer-contacts {
    width: 100%;
    float: none;
    padding: 20px 0 0 0;
  }

  .section-company-oblique,
.section-support-oblique {
    display: none;
  }

  .section-company-content,
.section-support .content {
    width: 100%;
    float: none;
  }

  .section-citation-content {
    width: 100%;
    float: none;
  }

  .section-citation-oblique {
    display: none;
  }

  .products-nav a {
    padding: 10px 5px;
    font-size: 12px;
    line-height: 1.3em;
  }

  .btnslideplayvideo,
a.btnslideplayvideo,
a.btnslideplayvideo:visited {
    padding: 10px 30px 10px 50px;
  }

  .btnslideplayvideo i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px !important;
    font-size: 30px;
  }
}
@media handheld, only screen and (max-width: 520px) {
  .header-icons {
    display: none;
  }
}
@media handheld, only screen and (max-width: 500px) {
  .footer-form .button {
    font-size: 12px;
  }
}
@media handheld, only screen and (max-width: 450px) {
  .products-nav a {
    padding: 10px 5px;
    font-size: 12px;
    text-transform: none;
  }

  .products-nav {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.section-blog {
  padding: 30px;
}
.section-blog .blog-item {
  margin-bottom: 40px;
}
.section-blog .blog-item .blog-item-content {
  display: flex;
  animation-duration: 0.8s;
}
.section-blog .blog-item .image-link {
  margin: 0 45px 0 0;
}
.section-blog .blog-item .image {
  width: 400px;
  height: 225px;
  flex-shrink: 0;
  margin: 0;
  background: no-repeat center center/cover;
  border-radius: 5px;
}
.section-blog .blog-item .text {
  padding-top: 2rem;
  position: relative;
}
.section-blog .blog-item .text:before {
  position: absolute;
  top: 0.75rem;
  width: 1.75rem;
  height: 2px;
  background: #293686;
  content: "";
}
.section-blog .blog-item .link {
  text-decoration: none;
}
.section-blog .blog-item .link .title {
  font-size: 1.75rem;
  line-height: 1.1;
  margin: 0;
}
.section-blog .blog-item .link:hover {
  color: unset;
  text-decoration: underline;
}
.section-blog .blog-item .date {
  font-size: 1rem;
  margin: 1rem 0;
  font-weight: 500;
}
.section-blog .blog-item .perex {
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}
.section-blog .pagination {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.section-blog .pagination .item {
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.5rem;
  margin: 0 0.1rem;
  font-weight: 600;
}
.section-blog .pagination .item.active {
  background: #293686;
  color: #fff;
  border-radius: 3px;
}
.section-blog .pagination .arrow {
  margin: 0 0.25rem;
}
.section-blog .pagination a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .section-blog .blog-item .image {
    width: 39vw;
  }
}
@media (max-width: 960px) {
  .section-blog .blog-item .image-link {
    margin: 0 30px 0 0;
  }
  .section-blog .blog-item .image {
    width: 42vw;
    height: 24vw;
  }
}
@media (max-width: 768px) {
  .section-blog .blog-item .blog-item-content {
    flex-flow: column;
  }
  .section-blog .blog-item .link .title {
    font-size: 1.5rem;
  }
  .section-blog .blog-item .image-link {
    margin: 0 0 8px 0;
  }
  .section-blog .blog-item .image {
    width: 100%;
    max-width: 450px;
    height: 200px;
  }
  .section-blog .pagination .item:not(.arrow) {
    display: none;
  }
  .section-blog .pagination .item.active {
    display: block;
  }
  .section-blog .pagination .item.active + .item {
    display: block;
  }
}
@media (max-width: 480px) {
  .section-blog .pagination .item.arrow .text {
    display: none;
  }
}
.section-blog-detail {
  padding: 30px;
}
.section-blog-detail .wrapper {
  max-width: 800px;
}
.section-blog-detail .title {
  margin: 0;
  font-size: 2.5rem;
  line-height: 2.75rem;
  text-align: center;
}
.section-blog-detail .date {
  text-align: center;
  margin: 1rem 0;
  font-weight: 500;
}
.section-blog-detail .perex {
  font-size: 1.2rem;
  letter-spacing: 0.25px;
  font-weight: 600;
  margin: 0;
  line-height: 1.5;
}
.section-blog-detail .image {
  width: 100%;
  margin: 1.5rem 0;
  padding: 0 1rem;
}
.section-blog-detail .raw * {
  letter-spacing: 0.1px;
  font-weight: 500;
  line-height: 1.5;
}
.section-blog-detail .raw b, .section-blog-detail .raw strong {
  font-weight: 700;
}
.section-blog-detail .raw h1, .section-blog-detail .raw h2, .section-blog-detail .raw h3, .section-blog-detail .raw h4, .section-blog-detail .raw h5, .section-blog-detail .raw h6 {
  margin: 1.25rem 0;
  font-weight: 700;
  line-height: 1.2;
}

@media (max-width: 1024px) {
  .section-blog-detail .title {
    font-size: 2.2rem;
    line-height: 2.25rem;
  }
}
@media (max-width: 768px) {
  .section-blog-detail .title {
    font-size: 1.8rem;
    line-height: 1.85rem;
  }
  .section-blog-detail .perex {
    font-size: 1.1rem;
  }
  .section-blog-detail .image {
    padding: 0;
  }
}

/*# sourceMappingURL=toxin-theme.css.map */
